[2014-11-07 21:07] csyversen opened #2 "remove attr_accessible from model"
use strong parameters instead!

[2014-11-10 22:44] csyversen opened #3 "determine if we need app/helpers/blacklight and app/helpers/dil_blacklight"
I'm not even sure we need them

[2015-01-06 17:51] jenlindner opened #17 "damn you Firefox 24?"
drag and drop functionality doesn't work unless the firefox window is quite tall, taller than most laptops can afford, but not big monitors. this could be because it's a much older version of capybara, so look into it when we switch to ruby 2 and newer gems.

[2015-01-08 22:20] jenlindner opened #20 "inconsistent test results due to inconsistent presence of images"
The same image causes the tests to fail for two of three developers locally, same code. Something must be slightly off.

[2015-01-08 22:22] jenlindner opened #21 "Inconsistent test results from timing variations from computer to computer"
Might be fixed by upgrading Capybara, in many cases in the tests, but some of the tests require going to a new page, which Capybara doesn't seem to address. Needs looking into.

[2015-01-08 22:25] csyversen commented on #21
i say we just get rid of images on the site altogether

[2015-01-09 16:20] jenlindner commented on #21
yeah, why don't we just describe them?

[2015-01-09 16:22] jenlindner commented on #20
Chris and I talked, we could just add some images we know are viable for everybody to the test group we create.

[2015-01-12 22:07] jenlindner opened #23 "deleting details created by tests seemed to delete the original as well"
So, leaving that test commented out for now.

[2015-01-21 20:04] csyversen opened #29 "we can probably remove the 'gon' gem"
i don't think it's giving us any sort of benefit. it's only used in one controller/js file

[2015-01-23 20:38] csyversen commented on #3
we just went through this recently! (we didn't use app/helpers/blacklight )

[2015-01-23 20:38] #3 closed

[2015-01-23 20:39] csyversen commented on #20
oh so we did this in our dev branches (the updated fixtures), so do you think we can close this?

[2015-01-23 20:40] csyversen opened #30 "refactor all the views"
there's a lot of application logic shoved into the views. that's not great!!

[2015-02-05 20:25] csyversen opened #38 "is ImageProcessingRequest even used??"
is it??

[2015-02-05 20:59] egspoony commented on #38
It is used for uploads.

[2015-02-05 21:19] csyversen commented on #38
Not anymore!!!!!!

[2015-02-06 17:15] csyversen opened #39 "searching from dil_collections doesn't work correctly"
If you're inside a user collection and try to search using the main search box on the page, it doesn't search the catalog controller, you just get back a blank page

[2015-02-06 17:17] csyversen commented on #39
(this is on the new hydra_upgrade branches btw, you can see this behavior on our dev server)

[2015-02-06 17:20] csyversen commented on #29
it does actually provide a bit of value! it allows use to use a config file value in our current JS viewer. That viewer might be going away though, and when it does we can probably remove gon then!

[2015-02-06 17:20] #29 closed

[2015-02-06 17:21] csyversen commented on #23
i think we can close this issue, right? we've gotten rid of details!

[2015-02-06 17:21] csyversen commented on #20
i'm doing it!

[2015-02-06 17:21] #20 closed

[2015-02-06 17:34] csyversen commented on #38
it's gone!

[2015-02-06 17:34] #38 closed

[2015-02-06 17:39] csyversen opened #40 "remove the edit metadata feature from multiresimage"
this is what menu is for!

[2015-02-11 22:38] csyversen opened #45 "Vrawork callback not working!"
figure out why the update_vra_work_tag callback isn't being called when a new Vrawork is created in create_vra_work in multiresimage!

[2015-02-11 23:24] csyversen commented on #45
oh we figured this out. it is actually being called, but it was a 'after_create' callback when it should have been a 'before_create'. it's been changed and it makes a lot more sense this way!

[2015-02-11 23:24] #45 closed

[2015-02-11 23:24] csyversen commented on #40
i've got a branch where i'm removing this feature!

[2015-02-16 22:47] csyversen opened #52 "add config/secrets.yml to gitignore!!"
yeah do it

[2015-02-17 17:33] csyversen commented on #17
this works on our new branch! wooo

[2015-02-17 17:33] #17 closed

[2015-02-17 17:34] csyversen commented on #21
oh this works on the new branch!!

[2015-02-17 17:34] #21 closed

[2015-02-17 17:34] csyversen commented on #23
no more details! this isn't an issue anymore wooo

[2015-02-17 17:34] #23 closed

[2015-02-17 20:55] csyversen opened #55 "remove ability to edit metadata in multiresimage controller"
We want to do it through Menu instead!

[2015-02-17 20:58] csyversen commented on #55
lol whoops, duplicate!

[2015-02-17 20:58] #55 closed

[2015-02-20 19:31] #52 closed

[2015-02-24 18:19] jenlindner opened #64 "redirect to sign in is confusing if you're trying to see another user's group"
you get redirected to sign in, and if you sign in it tells you you're already signed in.

this is happening because the redirect is at the top level of the application controller, rescuing every type of authorization problem and taking denied users to sign in. we need more specific ones, definitely one for groups - if you try to see another user's group, you should not be redirected to sign in, yo

[2015-02-24 20:25] csyversen opened #65 "Is the ruby class 'Group' even used??"
It looks like users were going to be able to add other users to groups or something, but it doesn't look like it's even been used!! none of the testing has anything to do with it!

[2015-02-24 20:30] csyversen opened #66 "are 'policies' in images even used?"
here's another one! there's not even a route for them!!!!!!!!!

[2015-02-27 16:18] csyversen opened #76 "push dil-config.yml from new_environment branch"
It's been updated and a bunch of old values have been removed, we should test it out on dev!

[2015-02-27 17:23] csyversen commented on #40
we've got the go ahead for this!!!

[2015-03-05 19:49] bmquinn commented on #39
Issue fixed with #75

[2015-03-05 19:49] #39 closed

[2015-03-05 21:01] csyversen commented on #40
oh yeah it's done and merged

[2015-03-05 21:01] #40 closed

[2015-03-05 22:07] csyversen commented on #76
ok, this is pushed!

[2015-03-05 22:07] #76 closed

[2015-03-12 20:41] csyversen commented on #64
we did it!

[2015-03-12 20:41] #64 closed

[2015-03-13 19:54] csyversen opened #83 "talk about replacing rspec-steps"
we may want to rewrite some of the tests that are using rspec-steps (https://github.com/LRDesign/rspec-steps) since upgrading rspec tends to break rspec-steps!

[2015-03-13 19:57] csyversen opened #84 "switch dil_collections to be active record models, not active fedora"
They aren't really culturally or institutionally relevant, which is reason enough on it's own. Also it forces the images application to introduce the concept of locking fedora records (which is messy) and forces us to use a rufus_scheduler job to unlock records.

it's a messy implementation and i think it'd be better served by being active record

[2015-03-13 20:07] csyversen opened #85 "upgrade to ruby 2.2.1"
we might want to test this out locally for a bit and then think about pushing it to our dev server

[2015-03-24 20:49] csyversen opened #86 "stop messing directly with XML in models/controllers/etc"
we're messing with XML directly in our models, but we should (probably) be treating it as a ruby object instead!

[2015-04-08 14:10] jenlindner opened #91 "We need a test to confirm that works get deleted if validation fails"

[2015-07-10 16:48] csyversen opened #111 "get postgres installed/working in staging"
just so we are mirroring production!

[2015-07-13 17:03] csyversen commented on #85
we did it!

[2015-07-13 17:03] #85 closed

[2015-07-16 21:40] csyversen commented on #111
jen did this!

[2015-07-16 21:40] #111 closed

[2015-07-30 15:20] jenlindner opened #117 "Delete multiresimage functionality needs more tests around it - high risk here"
Because we are strapped for time we don't have tests around the delete functionality removing the deleted object from any user groups it was in. The method does perform that operation but we'd want the lack of tests to be noted (and ideally addressed) in any work done in the future.

[2016-02-02 21:32] jenlindner opened #124 "need tests for ImageMover"

[2016-04-22 14:38] jenlindner opened #128 "write release notes for riiif_and_sidekiq_it"
include the hydra head and blacklight versions the code is now on, and the adjustments made for deprecated BL code

list the services and utilities the app now relies on

[2016-07-29 19:31] csyversen opened #137 "make sure users know how to use batch import"

[2016-08-02 14:25] davidschober opened #138 "verify that we don't have to care about users on libfedora3s"

[2016-08-02 14:25] davidschober opened #139 "puppetize firewall rules"

[2016-08-02 14:25] davidschober opened #140 "puppetize imagemagick with openjpeg"

[2016-08-02 14:26] davidschober opened #141 "create auto mounts in puppet servers"
- [x] images-s
- [x] images-p
- [x] menu-s
- [x] menu-p

[2016-08-02 14:27] davidschober opened #142 "mount staging on images-s"
## DONE
staging is mounted on "/staging/fedora3s on images-s to replicate images-p

- [x] test done with local mount
- [ ] firewall rules setup on images-s and fedora3s @Toputnal

[2016-08-02 14:28] davidschober opened #143 "puppetize ruby >=2.2"
- [ ] images-s
- [ ] images-p
- [ ] menu-s
- [ ] menu-p
- [x] decide whether use rbenv or not

[2016-08-02 14:29] davidschober opened #144 "puppetize postgres >= 9.4"
- [x] images-s
- [x] images-p

[2016-08-02 14:29] davidschober opened #145 "puppetize redis"

[2016-08-02 14:29] davidschober opened #146 "puppetize sidekiq"

[2016-08-02 14:30] davidschober opened #147 "Update PPT to use riiif"
## DONE
PPTs can be downloaded

- [ ] change the code
- [ ] roll onto staging
- [ ] test staging
- [ ] roll onto prod
- [ ] test prod

[2016-08-02 14:31] davidschober opened #148 "metadata does not show after editing published record"
To recreate:
- open published record
- edit record metadata
- see that only the image shows, no metadata.

[2016-08-02 14:32] davidschober opened #149 "records disappear after being published"
To Recreate:
- import record
- publish
- see that record disappears form menu
- see that record is not visible in images

NOTE: there is a google doc tracking images that are not visible. Link from nicole.

[2016-08-02 14:33] davidschober commented on #149
google doc https://docs.google.com/spreadsheets/d/1aXVZUge5Dv2O-BkVN-sHJsoW7s82363qWE0aVanG7pE/edit?usp=sharing

[2016-08-02 14:33] davidschober opened #150 "Intermittent, sudden loss of solr index on developer development environments"

[2016-08-02 14:35] davidschober opened #151 "get clean test data in images"
- [x] verify records came over cleanly
- [x] dev run staging delete
- [x] create 5k images
- [x] test upload 5 records into staging to confirm unit and ic facets work

[2016-08-02 14:36] davidschober opened #152 "User Testing on Staging"
- [ ] Testing of public collections functionality.
- [x] Testing of basic functionality.
- [x] Providing feedback on basic functionality to team.
- [x] Verify new public collections appear in Unit and Institutional Collection facet.
- [x] Test documentation reflects granularity of data stream.

[2016-08-02 14:37] davidschober opened #153 "Public Collections: add pagination to collections lists images"
## DONE
Results in both places are paginated
- [ ] List images in public collections view
- [ ] Confirm images (from search results) to add to a public collection

[2016-08-02 14:38] davidschober opened #154 "Public Collections Create/Edit: Unit should be a choice from a dropdown menu"
- [ ] Talk to MBK & Syversen re: list of Units in Avalon
- [ ] Create controlled vocabulary / drop down list for Unit field.
- [ ] Double check units on prod list now

[2016-08-02 14:39] davidschober opened #155 "Admins create and edit metadata for a public collection"
## Done
tests are written to verify that metadata can be edited for a public collection

- [x] rebase on refactored master
- [x] verify tests are running

[2016-08-02 14:39] davidschober opened #156 "Admins can delete a public collection and the images would be reassociated with DIL."
## DONE
admin are able to delete a collection and images are reassociated

tests are written to verify.

- [x] rebase on refactored master
- [x] verify tests are running

[2016-08-02 14:40] davidschober opened #157 "Admin can designate a thumbnail as representative image for a public collection."
## DONE
Thumbnail can be chosen for public collection image.

- [x] rebase on refactored master
- [x] verify tests are running

[2016-08-02 14:41] davidschober opened #158 "Admins can create a public collection with images in it from search results."
- [ ] Create unit tests for Instiutional Collections Model (and Controller) to test creating and editing collection metadata
- [ ] Add unit tests (in code) in Multiresimage controller and model that cover changing collection relationships
- [x] Create page for admins to view images that are currently in a particular collection
- [x] Admins can remove individual image(s) from a collection
- [x] Cre

[2016-08-02 14:42] davidschober opened #159 "Login for Public Collections - admin only"
##DONE

- [ ] Only logged in administrators (listed in the dil-config.yml file) can create and edit institutional collections.

[2016-08-02 14:42] davidschober opened #160 "Investigate whether assigning to public collections needs to be done in the back ground and how to handle it in the front end."
Wanted to time how long admin tasks will take while others are using Images

[2016-08-02 14:42] davidschober opened #161 "libfedora3s needs deploy@images-s.library's public key for passwordless scp"

[2016-08-02 14:43] davidschober opened #162 "Design, functionality and data on home page works as intended for logged in and logged out users"
- [x] Update homepage view to display admin created collections
- [ ] Update backend code to make private collections available to homepage view
- [ ] write feature and integration tests in code to test display of public and private collections
- [x] Discuss design requirements for homepage display

[2016-08-02 14:43] davidschober opened #163 "Add SSH keys for SCP for moving Images"
## DONE

Images can be copied to proper place on staging and production

[2016-08-02 15:07] davidschober commented on #163
Jim noted that we might be able to do with NFS rather than SCP.

[2016-08-02 15:09] davidschober opened #164 "verify that search is working for PC"
## Done

Search is working well enough to pull images for a public collection.

- [x] Test searches are run for block
- [x] search queries are sent to devs (via comment)

[2016-08-02 15:20] davidschober opened #165 "retest batch"
## DONE

After isilon mount is working verify that batch moves items properly

- [x] make sure configs are right for staging and production
- [x] make sure image mover module uses the right configs and
- [x] points to the right destination
- [x] documentation of issues

[2016-08-02 15:23] davidschober opened #166 "Complete IIIF Functionality"
## DONE

IIIF is implemented across the application and does not introduce bugs in editing.

- [ ] User groups
- [ ] PPT
- [ ] jpg image download
- [ ] ensure IIIF implementation does not block editing existing records in MENU
- [ ] removal of outdated DELIV-IMG datastream and it's related technical metadata datastreams

[2016-08-02 15:23] davidschober commented on #163
dupe of 161?

[2016-08-02 15:25] davidschober opened #167 "Meet with MBK and decide approach for prod"
## DONE

decisions made and issues are written/ edited to complete puppetization of servers.

- [x] decide how to handle RUBY (rbenv or sys)
- [x] verify passenger or unicorn and proxy

[2016-08-02 19:31] bmquinn opened #168 "Remove the MultiresimageService module"
This module images/lib/dil/multiresimage_service.rb is no longer used. It should be deleted and along with any remaining references to it in the codebase.

[2016-08-02 19:44] csyversen opened #169 "remove some unused functions in multiresimage_controller"

[2016-08-02 19:45] csyversen commented on #169
forgot the comment: get_svg, aware_tile, and aware_details

[2016-08-02 19:48] Debs4Avalon opened #171 "Public Collections: Add thumbnail images to search results pages"
## DONE
- [x] Results of searching for an image to add to a collection are displayed with a corresponding thumbnail
- [x] thumbnails use riiif

[2016-08-03 14:43] davidschober commented on #159
@Debs4Avalon is this still anise? This looks like a pretty serious bug.

[2016-08-03 14:58] davidschober commented on #161
There is a local directory on images-s per jim mounted per @Toputnal . Jim, can you add details?

[2016-08-03 14:59] #161 closed

[2016-08-03 14:59] #163 closed

[2016-08-03 15:00] davidschober commented on #142
per @Toputnal temp fix put in for testing. Jim call IT for firewall rules, etc.

[2016-08-03 15:00] Debs4Avalon commented on #142
Temporary fix in yesterday by Jim.  Need firewall rules, etc.

[2016-08-03 15:01] Debs4Avalon commented on #167
rescheduled for 8/8

[2016-08-03 15:02] davidschober commented on #164
Per nicole. This is good to go. via email:

"""
Here are the terms which work for me :

Sept. 1 deadline
"Hamid Naficy Iranian Movie Posters Collection"

Soft deadline
"Une cité moderne : dessins, by Rob Mallet-Stevens ; preface de Frantz Jourdain. Paris : Massin, [1928?]."

"McKay, Vernon. Vernon McKay (1912-1988) Papers. Personal Papers. Photographs. French Equatorial Africa."

"Northwestern Uni

[2016-08-03 15:02] #164 closed

[2016-08-03 15:03] Debs4Avalon opened #174 "Tests need to pass without extra configuration"
End goal: clone repo and configs, start jetty and get tests to pass.

[2016-08-03 15:05] Debs4Avalon commented on #142
File system is mounted, @Toputnal  has contacted NUIT.

[2016-08-03 15:14] davidschober commented on #152
@Nic4Images and @Debs4Avalon is this just a general catch all for testing?

[2016-08-03 18:34] Toputnal commented on #161
Images-s is currently mounting the production share farchive13 at /mnt/farchive13.  I have created a symlink at /mnt/farchive that points to this location.  Once I get the NFS share setup in coordination with NUIT I will simply change the symlink to point at the new location, so that developers can simply reference /mnt/farchive and be done with it.  ☺

Best Regards,

--Jim

--
James R.  Bottino
S

[2016-08-03 19:51] #169 closed

[2016-08-03 21:09] Toputnal commented on #142
NUIT Ticket #418458

[2016-08-04 14:31] bmquinn commented on #171
@davidschober @Debs4Avalon Is this issue referring to the new public collections functionality?

[2016-08-04 15:04] davidschober opened #176 "Review Testing Spreadsheet"

[2016-08-04 15:04] #176 closed

[2016-08-04 15:06] davidschober commented on #174
Made some progress, but most tests are too brittle.  Got rid of some stuff, the correct ports.  Brittle: easily breakable, works as long as no one makes any serious code changes.  Tests running in specific order

[2016-08-04 15:06] #174 closed

[2016-08-04 15:13] davidschober opened #177 "stop creating deliv image data stream"

[2016-08-04 15:13] davidschober opened #178 "document the fact that we are no longer using deliv image data stream"

[2016-08-04 15:14] davidschober opened #179 "Multiresimage model cleanup"
##  DONE
- [x] Create issue for deleting unused methods #187
- [x] Determine which datastreams we can remove with RIIIF now in place
- [x] Make new issues for methods that need refactoring

[2016-08-04 15:19] davidschober opened #180 "Fix sidekiq logging"
## DONE
all sidekiq logs are correct or replaced with rails log

[2016-08-04 15:19] davidschober opened #181 "Investigation of log from MENU publishing to Images"

[2016-08-04 15:27] davidschober opened #182 "Monitoring MENU"
## DONE

Menu is being monitored by our monitoring software.
- [ ] DB is being monitored for up
- [ ] website up is being monitored
- [ ] fedora is being monitored
- [ ] SOLR is being monitored.

[2016-08-04 16:04] bmquinn opened #183 "Put "repo_url" back into dil-config"
### Descriptive summary

We need the "repo_url" to store the location of tiffs. Make sure this is in the feature branch on miscellany.

[2016-08-04 16:37] kdid opened #184 "Multiple version of Postgres on Menu-p. 8.4.20 should be uninstalled"
Production is not working currently using old database

[2016-08-04 16:38] kdid commented on #184
9.4 is the current one

[2016-08-04 16:39] kdid opened #185 "make sure reboot script of postgres on menu-p boots up the right version"
Production problem. 8.4 is old. 94 is current

[2016-08-04 16:46] davidschober commented on #171
I believe so. I copied it over from the groomed Jira.

[2016-08-04 19:41] kdid opened #186 "Admin Policy cleanup"
- [x] determine if admin_policy.rb model is used or can be removed/refactored
- [x] is policies_controller.rb used?

[2016-08-04 19:51] bmquinn opened #187 "Remove unused methods Multiresimage model"
### Descriptive summary

Unused methods in the Multiresimage model should be removed.

[2016-08-04 19:58] davidschober commented on #186
@kdid can you add a description?

[2016-08-04 19:59] davidschober commented on #185
Emailed / etc the team. @Toputnal should be able it to grab it in the morning.

[2016-08-04 20:00] kdid opened #188 "Refactor image_url method to use riiif in Multiresimage model"
## DONE

image_url is using RIIIF.  Alternatively, remove it and refactor all the views to use RIIF. Any call to an image is no longer using old ansel stuff. Need to refactor anything that calls either #image_url or #proxy_image.

[2016-08-04 20:08] Nic4Images opened #189 "Email being sent repeatedly to repodev box"
Write this as a bug in github, attach this.

David

On Aug 4, 2016, at 2:19 PM, Nicole Gabrielle Finzer <n-finzer@northwestern.edu> wrote:

Hi,

I do not understand what is doing but it would seem a batch of images is sending a message to our R&DC email account.

Shall I share this with the devs?

Thanks,
N.

From: NUL-Repository <repository@northwestern.edu>
Date: Thursday, August 4, 2016 at 1:57

[2016-08-05 14:50] kdid opened #190 "Remove actual email sending during local development"
In several places, operations send actual emails to others while testing locally. Need to identify where and change. Both menu and images

Also make clear in emails which environment they come from (prod, staging, menu, images)

Discuss removing admin_email from batch emails altogether.

Currently sending two emails in the case of failure, there should be only one.

[2016-08-05 14:50] bmquinn commented on #189
We shouldn't emails from dev/test but apparently that's happening (see the "Received: by bquinn2013-mac.local" above). Karen is making an issue for this now.

[2016-08-05 15:13] Nic4Images opened #191 "Back up MENU database before PE move."

[2016-08-05 15:27] #179 closed

[2016-08-05 15:29] #142 closed

[2016-08-05 15:31] Debs4Avalon commented on #185
Will it stop before the upgrade?

[2016-08-05 15:43] Toputnal commented on #185
I'm trying to find a solution that will allow puppet to manage the most things it can, while still preserving the correct version of postgress.  So, it runs now, but if it were to be rebooted before I decide upon and implement a fix, the same issue will happen again.  Since menu-p is a production server, I'm working this until it is resolved and can be rebooted without manual intervention (for the

[2016-08-05 17:26] kdid opened #192 "Investigate rescue statements for swallowing errors"
Example:
helpers/transform_xml.rb line 91

[2016-08-05 17:34] #180 closed

[2016-08-05 18:22] davidschober commented on #184
From SLACK: 9.4 is running now.

JIM:
Cool. I see what the issue is.  menu-p is running on the super old puppetmaster server and the posgres puppet module for that version keep installing the postgres8.3 version.  Because of the work required I would suggest we make sure everything is A-OK on menu-s (which is on the newest PE server) and then schedule a migration of menu-p from puppetmaster to pe.

[2016-08-05 18:46] davidschober commented on #191
see #184

[2016-08-09 14:47] Debs4Avalon commented on #188
See #166

[2016-08-09 14:51] Debs4Avalon opened #195 "Add JP2s to github"
## DONE

- [ ] fix configs for JP2 location
- [ ] look in to customizing the rake task
- [ ] OR working folder
- [ ] track JP2s in github for fixture data

[2016-08-09 14:56] Debs4Avalon opened #196 "Dev Ops ticket: Monitor delayed jobs"
## DONE

-  [x] delayed jobs restarts automatically
-  [ ] plan for monitoring MENU
- [ ] does it come up on Vagrant box

[2016-08-09 15:00] Debs4Avalon commented on #177
connects to #187

[2016-08-09 16:09] #187 closed

[2016-08-09 20:15] #166 closed

[2016-08-09 21:01] davidschober commented on #184
@d-venckus or @Toputnal can you give an update on this. We hammered out the oddness on staging, correct? So we should be able to snapshot and move?

[2016-08-10 14:54] #191 closed

[2016-08-10 17:06] csyversen opened #199 "Remove calls to update_fedora_object in update_vra"
### Remove calls to update_fedora_object in update_vra

In the multiresimage_controller, line 51. This was a reference to an old function in multiresimage_service

[2016-08-10 17:36] #147 closed

[2016-08-10 19:45] #195 closed

[2016-08-10 21:37] csyversen opened #202 "see why editing existing records isn't working locally"
### Searching for a pid and editing it's VRA isn't working locally (at least on my current branch)

 i see this error in the images rails log: Started GET "/image-service//full/,900/0/default.jpg" while a previous, very similar call has this: Started GET "/image-service/inu-dil-c53df05b-5ecc-4387-aa7c-02c8be831ff8/full/,120/0/default.jpg" which is correct

### Expected behavior
Both calls should r

[2016-08-11 00:56] #177 closed

[2016-08-11 00:57] #188 closed

[2016-08-11 14:53] Toputnal commented on #144
Verify menu-s is working and then check to see what will be needed to migrate menu-p to pe

[2016-08-11 14:53] davidschober commented on #144
Jim to verify menu-s and then move to menu-p. And let team know via slack a window for move.

[2016-08-11 16:14] csyversen commented on #183
done!!!!!!!!!!

[2016-08-11 16:15] #183 closed

[2016-08-11 21:49] csyversen opened #203 "we need a working vra endpoint"
### Descriptive summary

Menu needs a working vra endpoint from images to edit existing records

### Expected behavior
go to http://localhost:3331/technical_metadata/inu:dil-af3c7e97-8fee-4a3d-8584-913fd3089c92/VRA (locally) and see VRA regardless of authentication status

### Actual behavior
We were getting a "not found in db error" with the old/current endpoint

[2016-08-11 21:56] #203 closed

[2016-08-12 14:55] davidschober commented on #178
Brendan is going to do an inline comment.

[2016-08-12 14:56] Toputnal commented on #185
Ok.  I believe the postgress code in puppet is now working correctly on menu-s.

[2016-08-12 15:01] davidschober opened #206 "Test editing existing record on staging"
- [x] grab pid from images-s
- [x] enter pid into form  on menu-s
- [x] verify that thumbnail shows up/ big image/ vra editor contains xml
- [x] write bugs if necessary.

[2016-08-12 15:04] davidschober opened #207 "deploy merged dev branch to staging"

[2016-08-12 15:18] #167 closed

[2016-08-12 16:36] #199 closed

[2016-08-12 16:49] #202 closed

[2016-08-12 16:49] #168 closed

[2016-08-12 17:05] #178 closed

[2016-08-12 17:08] Toputnal commented on #196
I reworked the delayed_job script in /etc/init.d/ so that the built-in rhel 'service' command now works with delayed_job.  Now, puppet also monitors service delayed_job status and restarts delayed_job properly if it is ever not running.  This is currently working on menu-s.  --JRB

[2016-08-12 17:12] bmquinn commented on #190
Chris and I discussed this issue and we feel like since it's not causing any serious problems we're going to leave it for now. Will come back to this in a few weeks if time allows.

[2016-08-12 17:12] #190 closed

[2016-08-12 17:12] bmquinn commented on #189
Chris and I discussed this issue and we feel like since it's not causing any serious problems we're going to leave it for now. Will come back to this in a few weeks if time allows.

[2016-08-12 17:12] #189 closed

[2016-08-12 18:05] #196 closed

[2016-08-15 16:02] #2 closed

[2016-08-15 16:02] #30 closed

[2016-08-15 16:02] #66 closed

[2016-08-15 16:03] csyversen commented on #66
duplicated! #186

[2016-08-15 16:03] #83 closed

[2016-08-15 16:03] #84 closed

[2016-08-15 16:03] #86 closed

[2016-08-15 16:03] #91 closed

[2016-08-15 16:04] #117 closed

[2016-08-15 16:04] #124 closed

[2016-08-15 16:04] #128 closed

[2016-08-15 16:11] csyversen opened #209 "clean up misc repo"
### Descriptive summary

We've got multiple branches with different configs in our miscellany. It's confusing! I'm going to clean up branches and verify that values are correct and used

### Expected behavior
To not be confusing
### Actual behavior
It is though

[2016-08-15 21:24] #186 closed

[2016-08-15 22:10] bmquinn commented on #209
Private repo PR merged. Closing.

[2016-08-15 22:10] #209 closed

[2016-08-15 22:18] #207 closed

[2016-08-16 13:45] Toputnal commented on #144
postgress 9.4 is managed by puppet on menu-s and menu-p now.

[2016-08-16 13:45] #144 closed

[2016-08-16 13:47] Toputnal commented on #185
menu-p and menu-s both run the correct version of postgress, eg 9.4 across reboots, all done via puppet code.

[2016-08-16 13:48] Toputnal commented on #141
What does this mean?  I can't recall.

[2016-08-16 18:37] csyversen opened #212 "permissions on "/var/www/menu/releases/" are incorrect"
### Descriptive summary

Capistrano can't clear out old releases because "root" owns the public folder under each release, and cap runs as the deploy user

### Expected behavior

capistrano clears out old releases as needed without failing

### Actual behavior

it's failing

[2016-08-16 19:38] d-venckus commented on #212
This behavior was being caused by Puppet, which was originally configured manage the /var/www/menu/current/public docroot folder in the vhost config, and would change ownership to root automatically.
I've added the directive manage_docroot=>false to the the vhost config for both menu-s and menu-p, and so Puppet will keep its greasy hands off the docroot folders and allow Capistrano to manage them.

[2016-08-16 19:38] #212 closed

[2016-08-17 19:54] csyversen opened #214 "menu isn't responding to duplicate accession numbers correctly"
### Descriptive summary

Menu isn't displaying any error message when trying to publish a duplicate record.

Images is correctly identifying the record as a dupe, but menu isn't correctly handling the return.

### Expected behavior

Menu should communicate to the user via the flash that this record has a duplicate accession number

### Actual behavior

Menu acts like it was a successful publish

[2016-08-17 20:26] davidschober commented on #141
Did anyone answer this? I think it was to ensure that the necessary fileshares were mounted when the systems came back.

[2016-08-17 21:34] csyversen commented on #214
i was expecting the old behavior, now apparently menu uses emails as it's notifications.

[2016-08-18 15:22] csyversen commented on #185
i'm marking this done. we don't want to reboot the servers yet to run through a full test because they are both in use, but if we run into issues in the future we'll just create another issue

[2016-08-18 15:22] #185 closed

[2016-08-18 16:57] jenyoung opened #215 "pointing to wrong vra location on production"
### Descriptive summary

Erin came across a record she was editing from Images that doesn't display the metadata
https://images.northwestern.edu/multiresimages/inu:dil-7a19b3f3-f476-41ae-8da7-af2625ecbbd2

Looking at the XML metadata that does exist in MENU, I noticed 2 things. Pointing to wrong XSD
but also the vra:vra tag is missing a end bracket. I fix it and then it throws errors.

These were

[2016-08-19 13:41] #141 closed

[2016-08-19 13:42] Toputnal commented on #139
Firewall rules on which servers?

[2016-08-19 14:57] Toputnal commented on #143
I'm moving this to Review because we need to come together and decide what will work best for everyone.  Maybe when MBK is back next week?

[2016-08-19 15:00] Toputnal commented on #196
This has also been done on menu-p  :-)

[2016-08-19 15:30] csyversen opened #216 "Cleanup missing VRA works"
### Descriptive summary

The occasional record isn't getting a new VRA work associated for some reason. The VRA Image record exists though, so it's not urgent, but we need to clean up our data at some point. It's not showing image metadata on Images now though

Do a multiresimage.find where related_ids is empty string, and then create work records for those records based off of the existing vra:im

[2016-08-19 15:35] bmquinn commented on #215
Met with @jenyoung to discuss the issue, and we're all good here. A new issue #216 was written to address the lack of VRA showing up for the image in the Images application.

[2016-08-19 15:35] #215 closed

[2016-08-19 16:33] bmquinn opened #217 "Handle duplicate accession numbers in batch validation"
### Descriptive summary

We should be checking for duplicate records via accession number in batch jobs, so that we prevent race condition duplicates getting saved into Images.
### Expected behavior

The validator will let the user know if they have duplicate accession numbers within their batch records.

[2016-08-19 17:58] davidschober commented on #143
We did come to a decision. For now, we were using rbenv/ passenger

Sent from my iPhone

[2016-08-19 18:00] davidschober commented on #139
Images-p
Images-s
Menu-s
Menu-p

Sent from my iPhone

[2016-08-22 13:44] davidschober commented on #214
Should we do both? Email makes sense with batch upload, but it seems odd if you're only importing a few to rely on email. Maybe we can put this low.

[2016-08-22 13:50] Toputnal commented on #143
In that case.  I guess this is closed for the time being.  :-)

[2016-08-22 13:50] #143 closed

[2016-08-22 14:54] davidschober opened #219 "verify sidekiq pro is running in images"
images-s
images-p

Bob should have license info. Check the sidekiq pro read me.

[2016-08-22 14:57] davidschober commented on #165
error while trying to contact libfedora3 with a delete. problem might be that it's read only mode. Check with @d-venckus

[2016-08-22 14:59] davidschober opened #220 "Fix fedora connectivity to image-s"
Look for readonly status/ on libfedora3s. Possibly check with david.

[2016-08-22 14:59] davidschober commented on #165
#220

[2016-08-22 18:56] kdid opened #221 "Mount Isilion repo share on Images-s"
(Final destination for tif files)

- [ ] mount /ifs/data/Library/stage to /staging
- [ ] Make sure ownership/permissions on /staging/fedora3sfarchive13/inu-dil mirror the production configuration on images-p (/farchive/farchive13/inu-dil/hydra/images)
- [ ] Puppetize
- [ ] Test with system restart that mount and permissions persist

[2016-08-23 14:54] davidschober opened #222 "redis and sidekiq not up after restart (images-s)"
On images-s after reboot on 08/23 redis and sidekiq did not restart.

- [x] verify startup scripts
- [x] restart and verify redis and sidekiq

[2016-08-23 15:19] bmquinn opened #223 "Multiresimage#create should error out if archival tiff doesn't get copied to repo_location"

[2016-08-23 15:56] #221 closed

[2016-08-23 16:01] kdid commented on #220
Closing. This is a non-issue.

[2016-08-23 16:01] #220 closed

[2016-08-24 14:54] Debs4Avalon opened #224 "Test restarting server with jobs running"
DONE means:
When a current job (i.e. a batch upload) is in the sidekiq queue being processed and the services (redis and sidekiq) are restarted upon server reboot, the job is sucessfully saved and then continues to process where it left off..

Note that you can view the sidekiq queue here (staging):
http://images-s.library.northwestern.edu/sidekiq/

[2016-08-24 14:56] Toputnal commented on #145
This code is running in production, but, like menu-p used to be, images-p is still on the OLD puppet server, and does not get this code.

[2016-08-24 14:57] Debs4Avalon opened #225 "End User Testing"
## DONE

- [x] run through the excel spreadsheet
- [x] notify bugs on waffle board
- [x] keep devs updated on slack

[2016-08-24 14:57] #145 closed

[2016-08-24 14:58] Toputnal commented on #222
Tested working on menu-s

[2016-08-24 14:58] #222 closed

[2016-08-24 14:58] Debs4Avalon opened #226 "End User Testing for Batch"
## DONE

- [x] New script written for batch ingest
- [ ] Ok'd by PO & Devs

[2016-08-24 14:59] Toputnal commented on #146
This is, like redis, working on images-s, but NOT on images-p

[2016-08-24 14:59] #146 closed

[2016-08-24 14:59] Debs4Avalon opened #227 "Front to Back End Testing"

[2016-08-24 15:00] Debs4Avalon opened #228 "Test MENU publishing"

[2016-08-24 15:01] #184 closed

[2016-08-24 15:04] davidschober commented on #146
Jim, do you want another ticket to push these changes to production?

[2016-08-24 15:05] davidschober commented on #145
Jim, can you create an issue to move this to images-p

[2016-08-24 15:07] davidschober opened #229 "move new puppet code to images-p, menu-p"
Move new puppet code to production servers. Ensure that servers can be rebooted and all services come up.

- [x] images-p
- [x] menu-p

[2016-08-24 15:16] Toputnal commented on #229
images-p will need to have scheduled downtime in order to migrate it from the puppet 2 server to the puppet 2016 server before it can receive any of the updated code we have running on images-s.  I estimate 4 hours of downtime for the migration.  Plus time to work out any issues we encounter after the migration.

[2016-08-24 15:20] davidschober commented on #229
Nicole, can you schedule this?

[2016-08-24 16:02] Debs4Avalon opened #230 "Discuss/test bringing downloads back"

[2016-08-24 16:10] csyversen commented on #65
This is referring to the ruby class group, it doesn't look like it's being used anywhere

[2016-08-24 16:11] jenyoung opened #231 "Image and record aren't being removed from MENU upon publishing to Images"
### Expected behavior

The Image and metadata should be removed from MENU once published. This is happening on staging and very importantly production.

### Actual behavior

After publishing, the record stays in MENU.  Also, got email saying my publishing had failed - but the image did show in Images. Despite the email, it did actually get published.

![2016-08-24_110342](https://cloud.githubuserc

[2016-08-24 16:14] jenyoung opened #232 "Deleted images still available for editing via MENU"
### Expected behavior

Record and Image should be completely deleted from both Images and MENU.

I was able to successfully completely delete an already-published image from both Images/MENU production.
However, I wasn't able to fully test since publishing to Images is unavailable currently on production. I don't know if it is related to the other bug listed below.

### Actual behavior

On staging

[2016-08-24 16:29] jenyoung opened #233 "Ability to add to a group removed on Staging"
Currently on Production, the ability to add an image to a group is available.

On Staging, that ability has been removed. Groups are still able to be created however.

[2016-08-24 17:35] jenyoung commented on #206
Big image does not display on editing an existing record.

[2016-08-24 17:36] jenyoung commented on #227
done on images-s and menu-s

[2016-08-24 17:36] jenyoung commented on #228
done on menu-s

[2016-08-24 18:44] Debs4Avalon opened #234 "Message for Landing Page - ASAP"
## DONE

 - [x] Message on Images Landing Page: "Hello, Images will be unavailable between 10:00AM - 5:00PM on Thursday, August 25th.  If you require immediate assistance during that time please contact Nicole Finzer at n-finzer@northwestern.edu."
- [x] Notify NF when up

[2016-08-24 19:12] bmquinn commented on #234
Message is up, and Nicole contacted.

[2016-08-24 19:12] #234 closed

[2016-08-24 19:14] jenyoung commented on #225
done

[2016-08-24 20:12] jenyoung commented on #226
Script written and added to Images Testing https://docs.google.com/spreadsheets/d/1-0Wabci6vxZgovkUiL8IxvufYAtnPznoE57Hl-sXXyo/edit#gid=1737678008

[2016-08-24 20:29] jenyoung opened #235 "verify that thumbnail shows up/ big image/ vra editor contains xml"
### Descriptive summary

On staging, Big image does not display on editing an existing record. Works on production. Broken on staging. Thumbnail works fine on both staging and production.

from 206 - verify that thumbnail shows up/ big image/ vra editor contains xml

### Expected behavior
Image should display.

### Actual behavior
It does not.
![2016-08-24_152612](https://cloud.githubusercontent.c

[2016-08-24 21:14] davidschober opened #236 "release first public collection"
- [x] remove images (from nicole)
- [x] pick thumbnail for hp
- [x] launch

[2016-08-24 21:44] davidschober commented on #227
@jenyoung you can move this to done if you've done the work.

[2016-08-24 21:45] #225 closed

[2016-08-24 21:46] #227 closed

[2016-08-24 21:46] #228 closed

[2016-08-25 14:53] davidschober opened #238 "puppetize production"
- [x] move to new puppet server
- [x] verify puppetize rules in place
- [x] verify that sidekiq isn't full of old jobs
- [x] migrate changes from staging to production
- [x] redis works
- [x] sidekiq works
- [x] firewall rules

## break in case of emergency
- [ ] call nuit and revert to snapshot

[2016-08-25 14:58] davidschober opened #239 "consolidate branches"
- [x] make sure we merge into dev
- [x] deploy to staging

[2016-08-25 14:59] davidschober commented on #165
@jenyoung can you close this if you're done?

[2016-08-25 15:07] davidschober commented on #165
@jenyoung. We are going to need some thorough testing on this feature. Can you do some negative tests.

We need to test a good set and a bad set.
- [ ] VRA bad
- [ ] dupes. run the same batch twice. Dupes that are within batch.
- [ ] batch of one
- [ ] kick off more than one batch at one time
- [ ] determine if metadata is correct.
- [ ] pick a sample image and make sure all metadata is imported p

[2016-08-25 15:11] davidschober opened #240 "create test data fixtures for manual testing"
- [x] good data
- [x] bonked metdata
- [x] duped images
- [x] corrupt image files
- [x] bad file names-- e.g. .xml not an xml

[2016-08-25 15:14] davidschober opened #241 "Fix (end user) staging dropbox access for images-s/menu-s"
Currently samba doesn't seem to be working for images/menu dropbox on staging. Jen Young and other users are unable to access dropbox on staging to add and remove files.

They need a way to add and remove files in order to use the menu and images application.

## DONE

- [ ] Jen Young (and other users) are able to access dropbox (staging) to add and remove files.
- [ ] Access works the same way on

[2016-08-25 15:17] davidschober opened #242 "show and tell current state of new feature"
- [x] dev are on same page for next steps
- [x] current issues are reviewed

[2016-08-25 15:56] jenyoung commented on #240
Will also work with DCM team on this.

[2016-08-25 16:04] kdid commented on #232
Jen,
We are not able to reproduce this issue. I followed the steps to reproduce and got an error in menu when I searched for the image.
Could you possibly be experiencing an issue with caching?
Can you send an example pid that you've deleted from images-s that is producing an error in menu-s and we can see if we can reproduce it that way?
Karen

[2016-08-25 16:09] #233 closed

[2016-08-25 16:11] Toputnal commented on #238
Move to new puppet server will hopefully happen later today, but the node is currently running the code *almost* all of the code it will be running on pe once the firewall issue is resolved.  Redis and Sidekiq are being monitored by puppet, but a reboot should be done to ensure that they come back up.

[2016-08-25 16:16] Toputnal commented on #238
Rebooted and ensured that NFS mounts, redis, and sidekiq started automatically thanks to the new puppet code.

[2016-08-25 16:17] Toputnal commented on #238
I have a ticket open with NUIT regarding the firewall issue.  They will call me at some point, today, one hopes.

[2016-08-25 16:43] csyversen opened #245 "Don't start and stop sidekiq on reboot anymore (for both staging and prod)"
### Descriptive summary

We learned that rails starts a version of sidekiq when the rails app starts, so puppet doesn't need to start sidekiq on reboot anymore. (When doing a ps -aef | grep sidekiq, we saw that two versions were running, one with the `-bash -c cd /var/www/dil_hydra/current/ && RAILS_ENV=staging bundle exec sidekiq start &` command and another one that corresponded to the time of a

[2016-08-25 16:49] bmquinn opened #246 "Fix the layout of the collections on the landing page"
The layout is not adding new collections smoothly in columns (the fourth image is set to the right side of the page)

[2016-08-25 18:57] Toputnal commented on #245
I have removed sidekiq from management by puppet on both images-s and images-p.  However, we will need some alternate way to monitor if sidekiq is running due to this change.    Coming up with this alternate way to monitor sidekiq will require input from our development team and devops.

[2016-08-25 18:59] Toputnal commented on #245
I also stopped the services by hand on both servers, so they ought to both be rebooted soon for this to be a true test.

[2016-08-25 20:51] Toputnal commented on #238
As we don't have ANY boxes that have managed firewall rules via puppet in Production, we'll need to table this for later when we implement iptables for prod puppet.

[2016-08-26 15:47] kdid commented on #245
After discussion with Jim, we are closing and opening an updated, accurate issue.

[2016-08-26 15:47] #245 closed

[2016-08-26 15:54] kdid opened #247 "Update puppet with start and stop scripts for sidekiq"
- [x] Send email with scripts
- [ ] Using scripts we discussed during 8/26 meeting. (Full scripts sent in email)
- [ ] update on staging so we can test that they work when devs redeploy the app via Capistrano
- [ ] Once we test staging, code should be moved to production

DONE:
- [ ] sidekiq is started automatically on server reboots
- [ ] The start and stop scripts do not create additional instan

[2016-08-26 15:56] kdid commented on #247
See email for commands:

Check for sidekiq pid file:
Check for sidekiq kill permissions:
Stop sidekiq:
Start sidekiq:

[2016-08-26 16:18] #242 closed

[2016-08-26 16:19] #239 closed

[2016-08-26 16:20] #236 closed

[2016-08-26 23:30] jenyoung commented on #240
testing files are in \\lala.library.northwestern.edu\scratch\repo_testing\images_batches

[2016-08-26 23:30] #240 closed

[2016-08-26 23:30] jenyoung commented on #226
Script here for evaluation https://docs.google.com/spreadsheets/d/1sLE_tzRCM-OgogJu9gciNJWDUKb5CTrbV2qyJ1KX0VA/edit#gid=0

[2016-08-29 15:04] davidschober commented on #206
@jenyoung can get an update on this?

[2016-08-29 15:12] jenyoung commented on #206
@davidschober there's a bug waiting to be fixed.

[2016-08-29 15:18] davidschober commented on #165
@jenyoung is this done? Can you move?

[2016-08-29 15:20] davidschober commented on #217
This is an edge case.

[2016-08-29 15:22] jenyoung commented on #165
@davidschober no - you wanted me to test all the new items you added. I've written scripts and created files for it. Now need the files to be moved to the staging dropbox since I can't.

[2016-08-29 15:25] davidschober commented on #230
done.. JP2s are downloadable.

[2016-08-29 15:25] #230 closed

[2016-08-29 15:28] #162 closed

[2016-08-29 15:28] davidschober commented on #162
duped by other tickets.

[2016-08-29 15:37] davidschober commented on #206
I believe that was moved to staging. Can the team verify.

[2016-08-29 16:35] davidschober commented on #241
This is a bigger issue. Something is odd with samba access.

[2016-08-29 19:59] csyversen commented on #65
ugh, they are being used in a really indirect way. we could refactor the app to get rid of them, but it's not worth it now

[2016-08-29 19:59] #65 closed

[2016-08-29 21:27] csyversen commented on #157
done!! pr merged

[2016-08-29 21:27] #157 closed

[2016-08-29 21:34] csyversen commented on #155
this is included in the collections_develop branch right now

[2016-08-29 21:39] csyversen commented on #160
refs #156 , delete has the same issue as creating new ICs. Devs should discuss this tomorrow

[2016-08-29 22:42] jenyoung opened #251 "Image quality tests failing for wrong reason during batch ingest on staging"
### Descriptive summary

Attempted ingest of 20 different images and their corresponding xml files. All files in the image_tests folder in the staging dropbox.

### Expected behavior

All 20 images should Fail. 18 of them should fail because they are not a tif and 2 of them should fail because they are 48-bit tifs.

### Actual behavior

The 18 images that are not tifs all give "Missing Correspondi

[2016-08-29 23:13] jenyoung opened #252 "metadata_tests not completely failing"
### Descriptive summary

There are 7 metadata tests in the metadata_tests folder. This is on staging.

### Expected behavior

One metadata file should pass and the other 6 should fail.

### Actual behavior

The good metadata passes (as it should). Only 2 out of the 6 fail and display an error message.

missing_accession should fail as it is missing an accession number
missing_agent should fail as

[2016-08-29 23:36] jenyoung opened #253 "batch import is either super slow or isn't working"
### Descriptive summary

I've uploaded two different batches via batch import on staging. I obviously didn't expect them to completely finish before I left, but I expected some records to be imported. The two batches I are imported "single_test_batch" and "large_test_batch".  It's been almost 90 minutes and not one record has been imported. Looking at https://images-s.library.northwestern.edu/side

[2016-08-30 14:56] davidschober commented on #162
fixes #246

[2016-08-30 14:57] #246 closed

[2016-08-30 14:59] davidschober commented on #253
sidekiq was not running.

- [ ] restart sidekiq

[2016-08-30 16:29] csyversen commented on #251
We don't do any inspection of the TIFFs themselves before they are submitted to a batch. As long as the extension is .tif or .tiff that's ok with the pre-job tests.

The invalid tiffs might fail once they get enqueued and sidekiq runs the job to transform them, but that's a later point in this process

[2016-08-30 16:29] #251 closed

[2016-08-30 16:30] csyversen commented on #251
(if you want there to be pre-job validation of the tiff files, you can submit a new issue with a request for this feature!)

[2016-08-30 16:45] csyversen commented on #252
Those four failing tests aren't part of the VRA spec itself, I think that's a convention that we do here at NUL, right?

The images app currently validates against the VRA-strict.xsd spec itself, but nothing additionally. We could add in extra functionality, but that's an extra feature that we'd have to implement.

I'm going to close this bug and add a new feature issue that we can prioritize

[2016-08-30 16:45] #252 closed

[2016-08-30 16:47] csyversen opened #256 "Implement additional VRA metadata checking in Images"
### Descriptive summary

Menu currently implements a couple of custom validation checks for VRA, like checking for the existence of the AgentName, EarliestDate, and Title. We should implement these in Images for batch imports
### Related work

This feature came out of this bug report: #252

[2016-08-30 18:30] csyversen commented on #253
yep, sidekiq immediately shut itself down for some reason after it started to process jobs. We just started it up again and records immediately started being published to images

[2016-08-30 18:42] csyversen commented on #253
Once we get sidekiq managed by puppet this shouldn't be an issue. i'm going to close this bug for now, we can open another one if this problem pops up again

[2016-08-30 18:42] #253 closed

[2016-08-30 19:21] #160 closed

[2016-08-30 19:28] csyversen commented on #150
Just talked to the other devs, we're going to close this for right now. We aren't running into it as much as we used to. It tends to happen while closing/opening your laptop and suspending the OS and also when switching branches might be weird too

[2016-08-30 19:28] #150 closed

[2016-08-30 20:05] jenyoung commented on #151
@csyversen what exactly does this story mean? isn't this already part of my testing?

[2016-08-30 20:07] davidschober commented on #151
This was the initial story to create and upload images for you. It can be closed now.

[2016-08-30 20:19] #151 closed

[2016-08-30 20:42] jenyoung commented on #206
Still not displaying on staging.

[2016-08-30 20:54] jenyoung commented on #235
this works for new images, not editing an already published record.

[2016-08-30 21:00] jenyoung opened #258 "editing an existing record on staging not reindexing properly?"
### Descriptive summary

 Editing via MENU a record. This is on staging. I edited both a record that I added via MENU and one that I added via batch import. Behavior is the same

### Expected behavior

Facets after editing a record should reindex properly - removing old data and only adding one instance of the new data.

### Actual behavior

Edited this record in MENU http://images-s.library.north

[2016-08-30 21:09] bmquinn opened #259 "Institutional Collections should use background jobs"
### Descriptive summary

Adding images to collections and deleting collections blocks take a long time and block the UI, they should happen in Sidekiq workers.

[2016-08-30 21:18] csyversen commented on #235
menu pr #114 fixes this issue. it needs to be merged and deployed

[2016-08-30 21:37] jenyoung commented on #232
@kdid i can't either. i will blame a ghost in the machine and close. thanks!

[2016-08-30 21:37] #232 closed

[2016-08-30 21:52] jenyoung commented on #137
Steps:

Move Job folder containing Tifs & XML to images_dropbox\batches

In Images, click on Batch Import, enter Job name, click "Create Image Records"

Go to images.northwestern.edu\sidekiq to monitor imporft

[2016-08-30 21:53] #165 closed

[2016-08-31 15:01] csyversen opened #261 "deploy staging branch to production"
if jen's sidekiq test works on staging, we should deploy our staging (which will become master) branch to production

[2016-08-31 19:37] davidschober commented on #231
@csyversen can you take a look at this bug

[2016-08-31 19:41] csyversen commented on #231
sure, once we're done deploying i'll try to duplicate it!

[2016-08-31 19:45] #148 closed

[2016-08-31 21:43] jenyoung commented on #206
this is fixed on production.

[2016-08-31 21:45] #206 closed

[2016-08-31 21:47] jenyoung commented on #258
registering on an edited record still on production. I had just added the cultural context to an already published record

![2016-08-31_164601](https://cloud.githubusercontent.com/assets/2250501/18147515/82dcc386-6f9a-11e6-8c87-49223fda01b2.jpg)

[2016-08-31 21:48] jenyoung commented on #149
Nothing is being published from MENU on production consistently.

[2016-08-31 21:50] jenyoung commented on #235
fixed on production

[2016-08-31 22:10] jenyoung commented on #149
Imported Job folder 66666666 into MENU

Edited 1920950.tiff

Save button works

Hit Publish button- no error message given.  Image not removed from MENU and does not appear in Images.

Receive email that my image did not publish.

![2016-08-31_170738](https://cloud.githubusercontent.com/assets/2250501/18148117/739f04e4-6f9d-11e6-983e-7adbcad02b4f.jpg)

I tried to publish 3 different images in that

[2016-08-31 22:15] jenyoung commented on #149
This real image from MENU published successfully. https://images.northwestern.edu/multiresimages/inu:dil-f7e5dc3d-95e5-4885-8ff3-9fb532e039c1

[2016-08-31 22:35] davidschober commented on #149
The not deleting itself is recorded in another bug, correct?

[2016-08-31 22:36] jenyoung commented on #149
Yeah I just realized that

[2016-08-31 22:38] davidschober commented on #235
Great. Closing this.

[2016-08-31 22:38] #235 closed

[2016-08-31 23:29] jenyoung commented on #231
In this spreadsheet, the "Still in Menu" tab lists all the ones that were published to Images, but not removed from Menu, 602 images.

https://docs.google.com/spreadsheets/d/1E_JalcFujq6SIDgvC9PAs-9Dxi3XgfdunI9OrjXeNa0/edit#gid=0

[2016-08-31 23:30] jenyoung commented on #149
This spreadsheet, on the "Didn't show up in Images" tab are the records that disappeared upon publish. 70 images
https://docs.google.com/spreadsheets/d/1E_JalcFujq6SIDgvC9PAs-9Dxi3XgfdunI9OrjXeNa0/edit#gid=197352268

[2016-08-31 23:34] jenyoung opened #263 "list of records on production with only metadata"
### Descriptive summary

Records on "Metadata no image" tab - need to discover why the images disappeared and how to retrieve them. 7 in all.

https://docs.google.com/spreadsheets/d/1E_JalcFujq6SIDgvC9PAs-9Dxi3XgfdunI9OrjXeNa0/edit#gid=758543320
### Expected behavior

Image should be displaying.
### Actual behavior

No image.
### Steps to reproduce the behavior

Sporadically happening not consiste

[2016-08-31 23:36] jenyoung opened #264 "list of images with no metadata on production"
### Descriptive summary

Records on "Image no metadata" tab - need to discover why the metadata disappeared and how to retrieve them. 2 in all.

https://docs.google.com/spreadsheets/d/1E_JalcFujq6SIDgvC9PAs-9Dxi3XgfdunI9OrjXeNa0/edit#gid=758543320
### Expected behavior

Metadata should be displaying.
### Actual behavior

No metadata
### Steps to reproduce the behavior

Sporadically happening not c

[2016-08-31 23:40] jenyoung opened #265 "Check and remove already published to Images record from MENU."
### Descriptive summary

Develop plan for removing already published to Images record from MENU.
Have a list of filenames and pids-"Still in MENU" tab

https://docs.google.com/spreadsheets/d/1E_JalcFujq6SIDgvC9PAs-9Dxi3XgfdunI9OrjXeNa0/edit#gid=0
### Related work

bug fix #231

[2016-08-31 23:40] jenyoung commented on #231
#265 to figure out how to clean up after bug fix

[2016-09-01 14:51] davidschober commented on #149
We will have to reverify on Production as this is inconsistent.

[2016-09-01 14:52] davidschober commented on #258
Manual query into the console should tell us what the difference between these are.

[2016-09-01 14:56] davidschober commented on #214
Removing  a flash message  was changed in February. In order to deal with this in an immediate way, we will need to do a significant refactor.

[2016-09-01 14:58] davidschober opened #266 "ensure duplicate accession number email"
An email should get kicked off when duplicate accession numbers exist.

[2016-09-01 15:09] davidschober opened #267 "BLOCKER: lib fedora s down"
staging fedora-s is down.

[2016-09-01 15:12] davidschober opened #268 "delete bad files/5 images"
- click on work type
- click open work-type facet
- click on photography
- see old images that should not be there/ they are bad.

They seem to not be in DIL.

[2016-09-01 15:14] davidschober opened #269 "test batch on prodcution"
do a sanity check.

[2016-09-01 15:22] jenyoung commented on #269
batch imported  4 records. All is good. Both tifs and xml stayed in batch folder.

[2016-09-01 15:22] #269 closed

[2016-09-01 16:24] csyversen opened #270 "have puppet restart fedora on libfedora3s"
### Descriptive summary

Let's have puppet ensure that staging fedora is running and restart it if it's not

Here's what David V said in slack: Yes, totally doable.  Puppet can just call "ensure=>running" on the service definition for tomcat-fedora.

[2016-09-01 16:24] davidschober commented on #267
David restarted. In the future we should add a monitor on libfedora3-s

Yes, totally doable.  Puppet can just call "ensure=>running" on the service definition for tomcat-fedora.

[2016-09-01 16:25] #267 closed

[2016-09-01 18:40] kdid opened #271 "Update add images to collection to use Sidekiq Pro batches feature"
### Descriptive summary

We should use Sidekiq Pro's batches feature to add images to collections.

[2016-09-01 18:49] kdid opened #273 "Sidekiq Dashboard should be admin only"
Right now, any authenticated user can view the Sidekiq dashboard. This should be admin only.

[2016-09-01 19:22] #273 closed

[2016-09-02 14:37] #261 closed

[2016-09-02 14:38] #171 closed

[2016-09-02 14:38] #159 closed

[2016-09-02 14:39] csyversen commented on #226
We can close this now, the updated/corrected batch stuff is in production now

[2016-09-02 14:39] #226 closed

[2016-09-02 21:16] csyversen opened #278 "Manage sidekiq pro environment variable in staging and production via puppet"
### Descriptive summary

Sidekiq pro requires a bundle config value (since we're licensing it) and we've decided on reading an ENV variable, and it should be managed by puppet

[2016-09-07 14:34] davidschober commented on #137
@jenyoung and team, this is done correct?

[2016-09-07 14:38] davidschober commented on #139
@Toputnal this is a duplicate correct? All firewall rules are take care of, documented, and automated if possible? If so, go ahead and close.

[2016-09-07 14:38] davidschober commented on #278
@csyversen this is high-priority correct?

[2016-09-07 15:04] davidschober commented on #152
complete. Bugs reported.

[2016-09-07 15:04] #152 closed

[2016-09-07 15:07] davidschober commented on #137
When there are problems dig into sidekiq. Jobs often will restart themselves, if they can't complete they will end up in dead jobs. Content person needs to investigate, images, etc. Sidekiq will give several errors to point.

[2016-09-07 15:08] #137 closed

[2016-09-07 15:09] davidschober opened #282 "complete sidekiq documentation"
- [x] ensure errors are noted

[2016-09-07 15:11] csyversen commented on #278
We /could/ push to production without the environment variable being managed by puppet, but I'd really prefer it if it was. So yeah, high priority

[2016-09-07 15:16] davidschober opened #283 "formalize documentation for batch/ pub collections"
- [x] ensure public collections is documented
- [x] ensure batch import is documented
- [x] ensure sidekiq is documented

[2016-09-08 13:00] Toputnal commented on #241
There are differences in the way different versions of Windows interact with different versions of Samba.  I will migrate the Samba functionality OFF of menu-s/images-s and ON to librepofiles1s (aka 'po') such that the Samba access works in the same fashion as production (where users drop off files on librepofiles1p (aka 'lala').  Keeping the number of Samba servers to a minimum allows for tweakin

[2016-09-08 13:01] Toputnal commented on #278
Okay.  What is the Environment variable and where should it be set?  I'll add it to puppet.

[2016-09-08 15:11] Toputnal commented on #241
Opened NUIT ticket 432073 to address this issue.

[2016-09-08 20:06] Toputnal commented on #139
This is actually a bigger deal.  Currently, we don't have puppet controlling firewall rules in the production environment.  The firewall rules in place on managed-hosting servers have all been put in place by hand by NUIT.  David and I need to reverse engineer the setup of the servers and very probably write new puppet firewall rules.  Since the systems in question are all production servers, gett

[2016-09-08 20:08] davidschober commented on #139
That’s cool. So we’re setup as expected. We can close this then.

[2016-09-08 20:09] Toputnal commented on #139
Fortunately, I knew this day would one day come, so we have a server in the managed-hosting environment that is classified as being a production server even though it isn't.  So, when we have time to work on this we do have at least one system to test on.  :-)

[2016-09-08 20:14] bmquinn commented on #268
Deleted & exported VRA records to LALA: scratch/deleted_images_sept_8_2016/

[2016-09-08 20:15] #268 closed

[2016-09-08 20:19] bmquinn commented on #266
Closing this. Reverted to synchronous POST functionality, no longer need to send emails.

[2016-09-08 20:19] #266 closed

[2016-09-08 20:21] #214 closed

[2016-09-08 20:21] #192 closed

[2016-09-08 20:22] davidschober commented on #139
Closing. Devops will kick off when ready.

[2016-09-08 20:22] #139 closed

[2016-09-08 20:27] davidschober commented on #278
I'll send Jim the sidekiq pro email. is the env variable arbitrary? @bmquinn @csyversen @kdid

[2016-09-08 20:28] bmquinn commented on #278
@davidschober I sent Jim the details earlier today. Should be g2g.

[2016-09-08 20:28] davidschober commented on #278
cool. Sorry.

[2016-09-08 20:37] davidschober commented on #140
@team is this still valid?

[2016-09-08 20:52] #229 closed

[2016-09-08 20:52] #238 closed

[2016-09-09 13:55] #258 closed

[2016-09-09 15:03] davidschober opened #285 "deploy "public" directory permissions changing"
The ownership of the capistrano releases folders /releases/#########/public is being changed to root.

Cap can't set permissions like this. We think it's puppet.... Maybe because of the apache module? (similar structure). Can you look into it.

[2016-09-09 15:05] Toputnal commented on #285
On what server?

[2016-09-09 15:12] davidschober commented on #285
Sorry Jim, this is on images-s, images-p, menu-s, menu-p. The team has been deleting it manually to route around.

[2016-09-09 20:36] #158 closed

[2016-09-09 20:36] #153 closed

[2016-09-09 20:36] #271 closed

[2016-09-09 20:36] #156 closed

[2016-09-09 20:36] #259 closed

[2016-09-09 20:36] #219 closed

[2016-09-09 20:36] #155 closed

[2016-09-09 20:36] #231 closed

[2016-09-09 20:37] csyversen commented on #223
this doesn't error out, but we created more robust logging to help troubleshoot. Closing this issue for now

[2016-09-09 20:37] #223 closed

[2016-09-09 20:37] #181 closed

[2016-09-09 20:37] #138 closed

[2016-09-09 20:46] davidschober opened #286 ""rights statement" asks for login on public collections"
### Descriptive summary

When clicking "rights description" on public collection an error comes us asking for authentication. If a user is authenticated, the rights statement is not shown, but an odd framed page with a "you don't have permission to view this" error. .

### Expected behavior
A user is shown the rights description for the collection.

### Actual behavior
A user is asked for authenti

[2016-09-09 22:21] Nic4Images opened #287 "Can't remove images from public collections (production)"
To recreate:

add images to public collection.

try to remove images

see errors below in sidekiq.

images are not removed from the public collection.

From Sidekiq:

Arguments : "inu:dil-8dff15a2-2f39-496e-8a81-64da01291787", {"system_create_dtsi"=>"2015-01-22T23:55:30Z", "system_modified_dtsi"=>"2016-08-23T19:49:29Z", "object_state_ssi"=>"A", "active_fedora_model_ssi"=>"Multiresimage", "id"=>"in

[2016-09-09 23:05] bmquinn commented on #287
Removed the duplicate Casas collection manually on production. This error was expected and correct in this situation, because of a race condition that occurred when the images were added to two different collections simultaneously. Without significantly changing this feature, the easiest solution to this problem is to make sure new institutional collections are created one at a time by verifying i

[2016-09-12 14:04] bmquinn commented on #286
Fixed and deployed.

[2016-09-12 14:04] #286 closed

[2016-09-12 14:12] davidschober commented on #287
Sounds good. Let's close. @Nic4Images @jenyoung , and team, please document.

[2016-09-12 14:52] davidschober commented on #182
It's ok if initially this just checks for a 200.

[2016-09-12 14:53] davidschober commented on #140
@Toputnal this might be done. Can you verify. We're using it in production, but we're not sure if it was hot fixed by someone?

[2016-09-12 14:54] davidschober commented on #241
@jenyoung can you validate and close?

[2016-09-12 16:09] Toputnal commented on #241
The Staging  Samba has moved to po.library to match production.  So, users will go to po.library for the Dropbox just as, users go to lala.library to get to the Dropbox for production Images.

[2016-09-12 16:31] Toputnal commented on #182
note: see "about" page for Avalon.

[2016-09-12 16:38] Toputnal opened #288 "Puppetize the placement of sidekiq, redis, and delayed_jobs scripts."
Right now all three of these scripts exist under infra_scripts in github, but Puppet does not ensure that these scripts get onto the servers.  Moving the scripts into place is still done by hand at this time.  We should write a puppet module that will copy the scripts to the correct places on the menu-s and images-s servers.

[2016-09-12 18:16] davidschober commented on #182
@bmquinn @kdid @csyversen can we steal Avalon's page so that Jim can hit the page and grep it for errors? ^^^^^

[2016-09-12 18:26] davidschober opened #289 "schedule meeting to go over technically how things work"
* [x] describe sidekiq to POs
* [x] verify understanding of public collections
* [x] Describe any changes to batch

[2016-09-12 18:27] jenyoung opened #290 "update email addresses on automatic emails"
Remove old email addresses from automatic emails,.

[2016-09-12 18:28] Nic4Images commented on #264
Lets start using "metadata is not visible on front end" in place of disappeared, cool?

[2016-09-12 18:29] Nic4Images commented on #263
These seems to be gone.

[2016-09-12 18:31] davidschober opened #291 "Add Download Original Tiff for admins"
## DONE

A download tiff button is visible to admins that allows them to download tiff.

Note, this should operate like the WWII posters does.

[2016-09-12 18:31] davidschober commented on #291
Done by OCT 1.

[2016-09-12 18:36] jenyoung commented on #241
it works!

[2016-09-12 18:36] #241 closed

[2016-09-12 18:36] Nic4Images commented on #263
Correction this is not resolved. Sorry!

[2016-09-12 18:42] Nic4Images commented on #263
We need to have Tom re drop these in images_dropbox and then try to ingest them again.

[2016-09-12 18:52] davidschober commented on #256
@csyversen how critical was /is this? We're putting together a punch list

[2016-09-12 18:52] Nic4Images commented on #264
Ask Tom to drop these on images_dropbox again. Lets try re-ingesting them.

[2016-09-12 18:56] #287 closed

[2016-09-13 13:37] Nic4Images opened #293 "When updating incorrect authorities the facets are not reindexing."
### Search for bellange and you will see we have sets of 4 and 4 under Creator. They should merge into 8 under one authority after the edits but alas it is not happening.

 Include any relevant tracebacks if you're reporting a bug.
### After editing a record facets should update and reflect changes.
### After editing a record facets do not update thus we end up with incorrect and correct facets wh

[2016-09-13 13:42] Nic4Images commented on #293
![screen shot 2016-09-13 at 8 35 00 am](https://cloud.githubusercontent.com/assets/20801226/18475955/f1633914-798d-11e6-887c-2882e60b8dec.png)
![screen shot 2016-09-13 at 8 34 01 am](https://cloud.githubusercontent.com/assets/20801226/18475954/f163373e-798d-11e6-9a45-49c0ceaecc07.png)

[2016-09-13 13:44] jenyoung opened #294 "Multiple stylePeriods in a record not indexing properly in facets"
### Descriptive summary

 stylePeriod facet not indexing properly when there are multiple entries. Record display is good.
### Expected behavior

Each separate stylePeriod element should have a separate entry in the facets.
### Actual behavior

They are in one line, separated by a semicolon. This is contrary to how we want the facets to work.

![2015-07-17_115012](https://cloud.githubusercontent.c

[2016-09-13 14:31] jenyoung opened #295 "Alternate titles in the Title: not Alternate title:"
### Descriptive summary

Alternate titles in the Title: not Alternate title:
### Expected behavior

Alternate titles should only display in Alternate title:
### Actual behavior

For some records in all collections in Images, the alternate title is appended to the Title field, separated by a semicolon.

There are records in Images which have alternate titles that display correctly.

![screen shot 2

[2016-09-13 20:11] jenyoung opened #296 "null error upon publish for jobs 11701, 11735"
### Descriptive summary

Images in two specific jobs, 11701 and 11735, are giving a null error upon publish. The images are actually published to Images but are not removed from MENU.

Having said that, two records in test job 456 were published to images. One went through fine, the other threw the null error. Both tifs came from job 11735.

Other jobs have been completed without errors.

Erin rep

[2016-09-13 20:21] #247 closed

[2016-09-13 20:36] Toputnal commented on #285
Fixed in puppet for menu-s, menu-p, images-s, and images-p

[2016-09-13 20:37] #285 closed

[2016-09-13 21:18] jenyoung opened #297 "can't add an image to a group"
### Descriptive summary

I seem to be the only one having an issue adding an image to a group. Erin, Laura, and Brendan were all able to add an image to a group.

### Expected behavior

Image is added to a group.

### Actual behavior

Not allowed to add image when viewing an image.

![2016-09-13_153600](https://cloud.githubusercontent.com/assets/2250501/18491345/93e23cac-79cb-11e6-8da7-3267a838501

[2016-09-13 22:17] jenyoung commented on #297
rebooting my computer fixed this issue. sigh

[2016-09-13 22:17] #297 closed

[2016-09-14 17:11] Nic4Images opened #298 "Removing images and deleting Rob Linrothe Image Collection needs to happen."
Hi @brendanquinn @kdid @senpai I created a collection and then CC told me to change the unit name so I need to empty and delete it but it shows in sideq that it is failing and the number seems to be stuck at Rob Linrothe Image Collection 3,583
11:51
No hurry but SIS
11:51
SOS

[2016-09-14 18:30] #298 closed

[2016-09-14 18:59] #289 closed

[2016-09-14 19:05] bmquinn commented on #296
Sounds like this was a problem with the browser session that was fixed with a reboot. If it keeps occurring we'll re-open the issue.

[2016-09-14 19:07] bmquinn commented on #296
Whoops wrong issue. Re-opening, sorry.

[2016-09-14 20:11] bmquinn commented on #282
https://github.com/nulib/images/wiki/Sidekiq-Errors-Guide

[2016-09-14 20:11] #282 closed

[2016-09-14 21:18] jenyoung commented on #296
Erin tried publishing an image in job 11735 that didn't have pre-existing metadata in it and still got the null error.  this is that record https://images.northwestern.edu/multiresimages/inu:dil-7e65e75d-99f3-419e-aa57-966b772927a9

[2016-09-15 14:56] jenyoung commented on #296
After talking more to David, going to test 10 more records, verifying that we can edit these records once published, and that they show in fedora.

A possible way forward is to publish these images and then go back and delete them from MENU.

[2016-09-15 17:15] davidschober commented on #296
@jenyoung to test and close.

[2016-09-15 17:16] davidschober commented on #216
@csyversen this is a non-issue now correct?

[2016-09-15 17:41] csyversen commented on #216
Yep! Closing

[2016-09-15 17:41] #216 closed

[2016-09-15 18:34] jenyoung commented on #149
between 9-9:30 am 9/15, Erin tried publishing images from Job 11479. 13 were successful and made it into images. 6 of them published, vanishing from MENU (like normal), but did not make into Images. They cannot be found.  Those 6 are:

314656
316657
316658
316659
316660
316661

She also published one from Job 11502 at about 11:30 that also did not make it into Images, 314852.

[2016-09-15 20:01] davidschober commented on #149
Jen, can you add any  bit of metadata that we might be able to search on?

[2016-09-15 20:29] jenyoung commented on #149
I looking for some metadata for you -- doing that, I see that all of these 7 of these images are now showing in Images. Six of them took ~6 hours to appear. That seems excessive.

I'm having Erin going through the spreadsheet with all of the other "missing" images to verify that they never appeared later in Images.

How should we move forward?

[2016-09-15 20:32] jenyoung commented on #149
Links to the records:
https://images.northwestern.edu/multiresimages/inu:dil-fed94b63-3a76-4c2b-a456-9a48604fbcda
https://images.northwestern.edu/multiresimages/inu:dil-5c698016-e611-43ea-8c58-dcfea18b3c73
https://images.northwestern.edu/multiresimages/inu:dil-ace22974-ae67-48cf-a739-9be3a474f12e
https://images.northwestern.edu/multiresimages/inu:dil-b1e122bc-b84a-42f3-96c7-b36f6c9f9d6d
https://im

[2016-09-15 21:21] jenyoung commented on #149
After talking to David, we're going to do some more testing and watching about this issue. Nicole is also hitting Fedora pretty hard so it might just need time to catch up. We're going to keep this on hold and add more information as needed. Thanks!

[2016-09-19 16:53] davidschober commented on #278
@Toputnal is this done?

[2016-09-19 20:01] davidschober commented on #154
Closing. This was a wish-list feature.

[2016-09-19 20:01] #154 closed

[2016-09-20 20:51] davidschober commented on #182
@Toputnal I talked with the team the avalon "about" page is a standard hydra thing. It's already there and available in staging for images. But it's currently only running in staging. We would like to have only solrwinds (or nagios) have access to it in production, can you send over the IP address?

For menu, a simple 200 returning from the box should be OK.

[2016-09-21 17:02] davidschober commented on #296
@jenyoung can we go ahead and close this?

[2016-09-21 17:05] davidschober opened #299 "redirect African Maps Alma handles to images records"
### Descriptive summary

We’re getting ready to move the African Maps images into Images. These also have records in ALMA with handles. We need to redirect the Alma handles to point to new records.
### Expected behavior

Alma handles redirect to new African Maps images records
### Questions:

What does the dev team need from @jenyoung and team to make this happen?

[2016-09-21 17:05] davidschober commented on #299
@jenyoung I moved this here so we could track.

[2016-09-21 17:24] davidschober commented on #299
@bmquinn @csyversen @mbklein @kdid can someone let Jen know what she needs to collect to make this happen?

[2016-09-21 18:36] jenyoung commented on #296
@davidschober This is still happening - and is happening for other saved jobs in MENU. They do eventually get published into Images, sometimes after a couple of tries. I'm ok with closing for the old saved jobs. I will create a new bug card if it starts happening for newly imported into MENU jobs.

[2016-09-21 18:38] davidschober commented on #296
I think that's a good plan

[2016-09-21 18:42] #296 closed

[2016-09-21 18:43] jenyoung commented on #299
this will be a public collection in Images if that helps.

[2016-09-22 18:58] davidschober opened #300 "Perceived slowness when loading images"
### Descriptive summary

Perceived slowness on certain images. We can't seem to tell if certain images are not caching properly (RIIIF) or if the cache is being trashed on each deploy. BQ thought maybe we could persist the tmp directory through deploys. Or is the cache clearing prematurely

### Expected behavior

Images after being being hit once should have tiles cached and should load quickly.

[2016-09-22 19:27] davidschober opened #301 "Small Batch is failing in production"
### Descriptive summary
Small Batch is failing in production.

Sidekiq reports:

 Include @channel I'm trying to batch import a small batch -- I am getting this message in sidekiq "RestClient::MethodNotAllowed: 405 Method Not Allowed" what does that mean?

From Logs:

Found the error:
[code]

[2016-09-22 19:27] davidschober commented on #301
Brendan's currently investigating:

brendanquinn [2:25 PM]
looks like sidekiq isn't running on prod :disappointed:

[2:25]
[code]

[2016-09-22 19:28] davidschober commented on #301
It is ingesting in staging. It's looking like it's not a code issue.

[2016-09-22 20:25] davidschober commented on #301
@d-venckus restarted redis and sidekiq. It seems like redis ran into a JVM issue.  Working now.

[2016-09-22 20:25] #301 closed

[2016-09-22 20:26] davidschober commented on #301
@d-venckus @Toputnal Can we figure out if there's a way to monitor?

[2016-09-22 20:37] Nic4Images opened #302 "Expose Collection Description field as a live link under Right Description."
### Users would like to have a description and rights visible at the collection level.

On the HP Please change the "Rights Description" link to "About this Collection"

The model popup should include the collection description copy as well as the rights statement.

example below

------
## Collection Description

Text here from the collection description field.

## Rights Statement
Text here from

[2016-09-22 20:39] davidschober commented on #300
adding a bug label. On some images, some of the image tiles are throwing 500s

e.g. http://images.library.northwestern.edu/multiresimages/inu:dil-266e8cb8-bfb2-4628-96e5-f6f8a7756f15
![screen shot 2016-09-22 at 3 32 53 pm](https://cloud.githubusercontent.com/assets/4803230/18765305/b6110efa-80da-11e6-994b-0e7a1f6c511c.png)

![screen shot 2016-09-22 at 3 38 36 pm](https://cloud.githubusercontent.co

[2016-09-22 20:48] Nic4Images commented on #302
![screen shot 2016-09-22 at 2 54 49 pm](https://cloud.githubusercontent.com/assets/20801226/18765593/ff06054c-80db-11e6-918b-59a84c3ec563.png)
![screen shot 2016-09-22 at 2 58 50 pm](https://cloud.githubusercontent.com/assets/20801226/18765598/05c96036-80dc-11e6-89c8-0ffc0e8564b9.png)

[2016-09-22 21:16] jenyoung opened #303 "null error happening when trying to publish to images"
**Expected behavior**
Images should publish to Images without errors.

**Actual behavior**
Images are being published to Images -- but throwing a null error.
This is for a brand new job. No saved metadata. Job:11741  -- 13 images, 5 of them threw the null error.
For the 5 that had the null error, Erin tried to publish them several times in MENU, until it finally did successfully publish them to Im

[2016-09-22 21:18] jenyoung commented on #265
Erin is working on it.

[2016-09-22 21:25] bmquinn commented on #300
Looks like these are OpenJP2 conversion errors:

[code]
![screen shot 2016-09-22 at 4 21 45 pm](https://cloud.githubusercontent.com/assets/1395707/18766686/0f181970-80e1-11e6-8da7-46e5ef0359dc.png)

I refreshed the page a few times and everything eventually worked. I think we're probably pushing the limits of performance with the conversions.

[2016-09-22 21:26] jenyoung opened #304 "duplicate images being published from MENU with same accession number."
### Expected behavior

Records should be rejected with the same Accession number.
### Actual behavior

From a new job, two images were published twice.

Search "320606" and "320609" in Images -- there should only be one image. There are two.

320606
http://images.northwestern.edu/multiresimages/inu:dil-eec4ecf8-6257-4bfa-8770-5f69fbaca334
http://images.northwestern.edu/multiresimages/inu:dil-2a57d

[2016-09-23 13:42] davidschober commented on #303
jen or erin do you have the PIDs of the images that threw the null errors?

[2016-09-23 13:50] davidschober commented on #303
@jenyoung Can you take this job and see if we can reproduce the errors on Staging?

[2016-09-23 14:22] Nic4Images commented on #302
Added note : can the space for adding this at the Admin level be increased to match that of the Rights Description - as you can see in the screenshot above it is difficult to see what you have written with only one line visible. Thanks, N.

[2016-09-23 14:39] davidschober commented on #300
OK. I'm going to tag this for a discussion.

[2016-09-23 14:41] davidschober commented on #304
@jenyoung can you verify this in staging as well.

[2016-09-23 14:47] davidschober commented on #302
@Nic4Images I think it will look odd to have two links under the the thumbnail. Can we combine the two into a single "Collection Information" or and "about this collection" link which would display **both** the rights description and the collection description in a popup?

[2016-09-23 14:55] Nic4Images commented on #302
I think they need to be separate as they serve different purposes - that said the idea of having a "About this collection" both as popups sounds great!

[2016-09-23 14:55] Nic4Images commented on #302
I should say with both as pop ups under the About this collection = great

[2016-09-23 14:58] davidschober commented on #302
I’m not sure I’m following. I’m saying a single link that would open a single display popup with a collection description and a rights statement. How we record/store data  can remain the same.

[2016-09-23 15:06] davidschober commented on #302
OK. After a brief discussion we decided to have a single "about this collection" which will pop open a model containing:

**Collection Description**
[the collection description field text]

**Rights Description**
]The rights description field text]

[2016-09-23 15:07] Nic4Images commented on #302
![fullsizerender](https://cloud.githubusercontent.com/assets/20801226/18790735/80d89f82-8175-11e6-88f5-cd90faf5037a.jpg)

[2016-09-23 15:07] Nic4Images commented on #302
Carolyn and I agreed on the titles of those two "fields" yesterday so we can run with them.

[2016-09-23 15:10] davidschober commented on #149
jen and erin are moving through the spreadsheet, verifying and deleting as a qc measure. They will close when this is complete.

[2016-09-23 15:14] davidschober commented on #295
@jenyoung It sounds like this was a purposeful decision. Let's talk this through.

[2016-09-23 15:18] davidschober commented on #265
renamed to reflect work.

[2016-09-23 16:49] kdid opened #305 "images-p: Publish from menu and batch import intermittently failing with - "Error occurred during initialization of VM. Could not reserve enough space for object heap""
## Descriptive summary

We have observed errors in the logs that correlate with failed publishes from Menu to images, and with failed batch import jobs indicating that JHOVE does not have enough memory to run on images-p.
### Observed behavior

Errors in `/var/www/dil_hydra/shared/log/sidekiq.log` during batch import:

[code]

Errors in `/var/www/dil_hydra/shared/log/production.log` during failed

[2016-09-23 17:07] jenyoung commented on #293
test on staging. still happening?

[2016-09-23 18:32] davidschober commented on #303
@jenyoung no need to reproduce this on staging it seems to be tied to #305. JHOVE is running out of memory.

[2016-09-23 20:11] jenyoung opened #306 "Add Erin as an admin in Images please"

[2016-09-23 20:26] davidschober commented on #305
@Toputnal and @d-venckus we're going to need your insight on this. I know Venkus was going to install varnish as a test, which may protect the machine enough.  But do you have any other ideas? We can talk more Monday.

[2016-09-25 01:23] jenyoung opened #307 "Fava Masks handles"
### Descriptive summary

We’re getting ready to move the Fava Masks images into Images. These also have records in ALMA with handles. We need to redirect the Alma handles to point to new records.

I will also need 10 new handles for the side views of the masks.

Site: http://digital.library.northwestern.edu/fava/masks.html
### Expected behavior

Alma handles redirect to new Fava Masks images recor

[2016-09-26 17:01] kdid opened #308 "images homepage is loading slowly"

[2016-09-26 21:08] davidschober commented on #305
Per @d-venckus this seems to have been caused by conflicting Java versions. He uninstalled then reinstalled by hand. Should be mirrored in Puppet configs.

[2016-09-26 21:08] davidschober commented on #305
Can we validate?

[2016-09-27 13:45] ccaizzi opened #311 "Cannot open single item/record/image view on mobile."
85% sure this was working before the UTF-8 bug fix.

On my iphone, after I perform a search, tapping on an image or title does not open the single page view.  I saw a similar problem on Cara List's mobile device in the public demo. Single item view in AVR works on my iphone.

[2016-09-27 14:03] ccaizzi commented on #311
all, just parking this here.  it may not even be worth working on.  will need to discuss with david.

[2016-09-27 16:37] kdid opened #312 "Karen D can't deploy on images-p"
Can you guys double check that my ssh key is in the authorized users? I'm getting asked for a password when I try to do a 'cap deploy production'  and I also can't do 'ssh deploy@images.library.northwestern.edu'

[2016-09-27 17:23] davidschober opened #313 "Install Varnish"
### Descriptive summary

We would like to install varnish on images (s and p)
### Expected behavior

Public pages are cached.

ensure /image-service/*.jpg

is being cached.

[2016-09-27 17:27] davidschober commented on #313
a full jpg is https://images.northwestern.edu/image-service/inu-dil-b49c918b-d945-4905-ba63-f668157885e2/square/,300/0/default.jpg

[2016-09-28 20:11] jenyoung commented on #293
this is still happening on staging and production. None of the facets are updating properly EXCEPT date. we hired a student to do some data cleanup for us in Images starting next week - some of which is based off the facets displaying in our public collections.  We would like of course all these changes to be reflected properly in our facets.

[2016-09-28 21:37] davidschober commented on #308
closing. HP is now <2ish seconds unless server is getting hit by converts.

[2016-09-28 21:37] #308 closed

[2016-09-28 21:43] davidschober commented on #302
@kdid Can you grab this next week? I'd like to get this and the tiff download done early October.

[2016-09-28 22:02] davidschober commented on #313
stuff we will need to look at... Removing cookies from requests to

http://images.northwestern.edu/image-service/

https://varnish-cache.org/trac/wiki/VCLExampleCacheCookies

Make sure that our IPs can purge the cache using curl in case of emergency.

[2016-09-28 22:03] davidschober commented on #300
closing as dupe

[2016-09-28 22:03] #300 closed

[2016-09-28 22:04] davidschober commented on #312
@d-venckus @Toputnal just making sure you saw this.

[2016-09-29 20:55] bmquinn commented on #291
@davidschober : @kdid and I looked into some more today, and found some serious blockers here that need to be discussed before merging this PR. The code here is fine, but we have issues with our ARCHV_IMG#location urls for possibly all images imported since they old synchronizer was shut down. There's going to be some data cleanup needed, and changes to our configs as well.

[2016-09-29 20:57] kdid commented on #302
Yes, I'll pick up next week though deployment still blocked by #312

[2016-09-29 20:57] davidschober commented on #291
Thanks for looking into this. Can one of you write up an issue with a  rough estimate of work needed?

[2016-09-29 21:15] bmquinn opened #314 "Cleanup ARCHV_IMG#location urls in production"
These were broken out into the following separate issues.
#322
#323
#324
#325
#326
#346

### Descriptive summary

ARCHV_IMG#location URLs are incorrect for possibly all images imported since they old synchronizer was shut down. There's going to be some data cleanup needed, and changes to our configs as well. #291 is blocked until this work is complete. There are possible tifs missing and permissio

[2016-09-29 21:16] davidschober commented on #302
Awesome. Thanks!

[2016-09-30 16:28] kdid opened #315 "Karen D needs ssh access to fedora"
Need to be able to ssh to
repository.library.northwestern.edu

[2016-09-30 17:32] davidschober commented on #314
you beat me to it!

[2016-09-30 17:33] davidschober commented on #314
This is scoped at Production only.

[2016-09-30 17:34] davidschober commented on #312
Karen you're good right? If so, let's close.

[2016-09-30 17:41] davidschober opened #316 "Change configuration for archive image"
### Descriptive summary

Currently the archive image location is configured wrong causing some bad data. Update it to the proper location.

repo_url: http://repository.library.northwestern.edu/farchive/farchive13/inu-dil/hydra/images/

should be:

http://rstorage.library.northwestern.edu/archive/farchive13/inu-dil/hydra/images/
related to #314

[2016-09-30 20:08] bmquinn commented on #316
Deployed and tested on production.

[2016-09-30 20:08] #316 closed

[2016-10-06 18:54] #302 closed

[2016-10-10 16:32] Toputnal commented on #278
Note: set up bashrc for deploy user.   -- setup puppet to manage .bashrc one per environment and then use the existing puppet and then set that in hiera for custom environment variables per node .

[2016-10-10 16:41] #312 closed

[2016-10-10 16:41] davidschober commented on #315
Karen, is this resolved?

[2016-10-10 16:43] Toputnal commented on #288
We did this.  We have code to push these scripts to each server, but some of it is commented out because we wanted to deal with environment variables differently for some of the scripts.

[2016-10-10 16:45] davidschober commented on #140
per @Toputnal this is not being done in puppet.

[2016-10-10 16:46] Toputnal commented on #140
@bmquinn Did you say there is some order of installing RPMs so that ImageMagick does not need to be custom compiled?  If so what was ith that you found?

[2016-10-11 20:40] kdid commented on #315
no, doesn't look like it

[2016-10-11 20:41] davidschober commented on #315
@Toputnal  can you grab so we close this?

[2016-10-12 20:28] kdid commented on #314
David,
The scope of the cleanup is larger than initially thought. We should discuss.

1. 1507 records have `http://repository.library.northwestern.edu/farchive/farchive13/inu-dil/hydra/images/` instead of `http://rstorage.library.northwestern.edu/farchive/farchive13/inu-dil/hydra/images/` as the base directory for ARCHV_IMG location
2. 23,724 have `http://www.library.northwestern.edu` - as the ent

[2016-10-12 21:07] jenyoung commented on #314
This information came from Steve before he left. I had previously sorted it into what I thought were good categories using tabs.

[badpids_all.xlsx](https://github.com/nulib/images/files/525646/badpids_all.xlsx)

[2016-10-12 21:22] davidschober commented on #315
@kdid can you check to see if you can ssh.

[2016-10-12 21:24] d-venckus commented on #315
ssh access granted to ksd927 via Puppet heira file.
Please test.
--David

[2016-10-13 14:29] kdid commented on #315
(I'm on SSL-VPN)

[code]

[2016-10-13 16:25] davidschober commented on #291
@jenyoung and nicole are going to dig into this more as well. Doing a quick spot check it seems as if many of these may be from the Rosenthal and Saskia collections. These either a) didn't have tifs or b) had tifs that were not imported. They were migrated from Mdid. They were missing in mdid.

- [ ] Nicole and jen will do a deep dive and verify that that's what these are
- [ ] Team to discuss whe

[2016-10-13 20:06] kdid commented on #315
I have permission now. Thanks.

[2016-10-13 20:20] kdid commented on #291
@davidschober
In Steve's document, that @jenyoung attached to ticket #314, the "WWW.LIBRARY" tab has a list of pids with the library website as the tif location.

[2016-10-13 21:19] kdid commented on #291
@davidschober - OK understand what you want. Will have tomorrow.

[2016-10-13 21:23] davidschober commented on #291
We can talk more tomorrow. What I'm looking for is what's exposed as "location" in the fe of images. Not sure if it's named the same on the backend.

Sent from my iPhone

[2016-10-14 14:13] bmquinn commented on #306
Configs updated, will take effect on next application restart.

[2016-10-14 14:13] #306 closed

[2016-10-14 16:29] kdid opened #319 "deploy user's ssh keys not working on menu-p"
Karen and Brendan cannot ssh as deploy to menu-p. (Possibly Chris S. has lost ability too)

[2016-10-17 15:13] #315 closed

[2016-10-17 15:15] bmquinn commented on #319
Tested, working.

[2016-10-17 15:15] #319 closed

[2016-10-17 16:22] davidschober opened #320 "install OAI/PMH images"
Install for fedora 3.8.1...

Note, DV will investigate whether the issue with OAI/PMH on fedora 4.0 (IR) is released to the version.

related to https://github.com/nulib/institutional-repository/issues/9

[2016-10-17 17:03] jenyoung opened #321 "filename story"
### Descriptive summary

To make things simpler for our digitization and metadata teams we would no longer like MENU adding the job number to the file name upon ingest. We want to add the job number outside of MENU. This would allow for fewer numbering errors and duplicative numbers in our process.

[2016-10-17 17:21] davidschober commented on #313
@d-venckus can you share the config and let us know when you're ready to test?

[2016-10-19 15:25] kdid opened #322 "4410 tif's with ARCHV_IMG location .../farchive13/inu-dil/hydra/test either missing or can't access via url"
There are a few related parts to this issue:
(examples of pids not included in GitHub issue)

**1) 3367 tifs missing**
3367 images that were added to images between 2015-07-09 - 2016-03-01 have `http://rstorage.library.northwestern.edu/archive/farchive13/inu-dil/hydra/test/` + `pid.tif` for the ARCHV_IMG location.

The tifs are not present in `/farchive/farchive13/inu-dil/hydra/test`

Here is a li

[2016-10-19 16:12] kdid opened #323 "~70,000 tifs not accessible at ARCHV_IMG location url due to permissions"
Most of the images with ARCHV_IMG urls beginning with `http://rstorage.library.northwestern.edu/archive/farchive8` or`http://rstorage.library.northwestern.edu/archive/farchive13` are not accessible at that url due to permissions.

The exceptions to that are:
1. tif's with a timestamp in their filename. (We believe these are rescans)
2. Images where permissions were manually adjusted (World War II

[2016-10-19 16:25] kdid opened #324 "Swap .../archive/... for .../farchive/... in path for tif location for 2250 image records"
2250 tifs loaded between spring 2016 and fall 2016 have an incorrect tif path where /farchive/ is present instead of /archive/ and the images are inaccessible.

https://northwestern.box.com/s/bw55zs27zrz1gqhkq5w7gr16n6io5ub6

Example:

INCORRECT-

`http://repository.library.northwestern.edu/farchive/farchive13/inu-dil/hydra/images/ + {tiffilename.tif}`

CORRECT-

`http://rstorage.library.northwest

[2016-10-19 16:35] kdid opened #325 "Swap rstorage for repository in tif path for 5963 image records"
https://northwestern.box.com/s/4r1lq4n3feyn5nm314wytfqtktan03fc

This issue is related to (is part of) issue #314

[2016-10-19 16:42] kdid opened #326 "~24,000 tifs with ARCHV_IMG location: http://www.library.northwestern.edu"
- [x] tifs copied from imagesarch1 to farchive13
- [x] permissions OK on tifs
- [x] create issue for updating ARCHV-IMG location with path  to new tif file (http://rstorage.library.northwestern.edu/archive/farchive13/inu-dil/hydra/images/ + tifname)
- [x] list of images still without tifs generated

Approximately 24,000 of the first images loaded into the images application have `http://www.librar

[2016-10-19 20:19] #278 closed

[2016-10-26 13:51] Toputnal commented on #140
I need to build a small test environment on devil.library to see which will be the best way to solve this issue.  Will update as I learn more.

[2016-10-27 21:05] #288 closed

[2016-10-31 14:26] davidschober commented on #323
@Toputnal and @d-venckus can you verify that puppet isn't changing permissions on isilon shares (these).

[2016-10-31 14:30] davidschober commented on #149
@jenyoung this leveled out right? We can close.

[2016-10-31 14:36] davidschober commented on #293
dev team, can we do a small investigative dive?

[2016-10-31 14:37] davidschober commented on #294
dev team, can we do a small investigative dive?

[2016-10-31 16:22] jenyoung commented on #149
@davidschober it's not happening for new jobs, but is still happening for old jobs.

[2016-11-02 14:51] Toputnal commented on #140
Ok.  So.  Here's the deal.  The RHEL supported versions of ImageMagick don't have everything we need compiled in.  Fortunately, ImageMagick provides a .src.rpm which we can us to build our own versions.  I have ImageMagick rpm's compiling and am working on deciding how best to deploy these custom RPM's (there are custom RPM's on images-s and images-p based upon the ImageMagick.src.rpm from whateve

[2016-11-03 18:55] davidschober commented on #323
@Toputnal @d-venckus moving this to the top of ready. Can you look at it in thenext couple of days and let me know. All the tiffs should have the same permissions as the WWII images.

[2016-11-03 19:04] davidschober commented on #305
@kdid @bmquinn @d-venckus Is this still an issue?

[2016-11-03 19:05] kdid commented on #305
@davidschober , yes still an intermittent issue.

[2016-11-03 19:06] davidschober commented on #305
@d-venkus can you dig into it a bit more and report?

[2016-11-03 19:07] davidschober commented on #283
@jenyoung is this done? I can't remember.

[2016-11-03 19:14] jenyoung commented on #264
all fixed and ingested into Image successfully.

[2016-11-03 19:14] #264 closed

[2016-11-03 19:16] Toputnal commented on #323
Looking...

[2016-11-03 19:36] Toputnal commented on #323
Also, I should mention that I'm doubtful that puppet is doing anything here.  The only cases where puppet is managing permissions is the user/group permissions for the Images and Avalon dropboxes.  As I type this, davidschober, I seem to recall some point in the Images project, maybe Debs Cane remembers?, where there were duplicate files and the files were copied from one place to another because

[2016-11-03 19:37] davidschober commented on #322
I started spot checking on a hunch. It seems as if the type in #1 and #2 are accessible here (although we have the same permission issue as the 70k): http://rstorage.library.northwestern.edu/farchive/farchive13/inu-dil/hydra/production/PID.tif

[2016-11-03 19:40] Toputnal commented on #322
See my comments on 323.  This rings a bell for a change that was made by hand a while a go.

[2016-11-03 19:41] davidschober commented on #323
@Toputnal Yes. I believe you and JL worked to move from /test to /production which I believe is the issue with #322.

But these 70k seem to have permission issues. Can you check the permissions on a wwII image  PID
inu:dil-5f4c79ec-9f65-4e41-88aa-b4f1e128829b

[2016-11-03 19:44] Toputnal commented on #323
Is there a way to derive the path of the PID somehow?  I don't know what directory any particular PID is stored under.

[2016-11-03 19:53] davidschober commented on #323
curl -I http://rstorage.library.northwestern.edu/archive/farchive13/inu-dil/hydra/production/RealVMC/worldwar2posters/inu:dil-5f4c79ec-9f65-4e41-88aa-b4f1e128829b.tif

[2016-11-03 20:12] jenyoung commented on #321
doesn't appear that MENU adds the job number if it is already there.

[2016-11-03 20:14] jenyoung commented on #303
not every record that gets a "null" error eventually successfully publishes to MENU. Some never publish.

[2016-11-03 21:04] jenyoung commented on #322
Nicole and I will review spreadsheet.

[2016-11-03 21:21] davidschober commented on #322
@Toputnal can you randomly grab a handful of PIDs ~10 from the referenced box folder and search across rstorage (or other old repo storage locations) to see if we can find them? We're looking for a pattern.

[2016-11-04 16:46] Toputnal commented on #323
I get 403 Forbidden on everything listed here. If this now works, can someone please let me know?  curl -I http://rstorage.library.northwestern.edu/archive/farchive8/inu-dil/hydra/production/RealVMC/vmc07-3/9664/inu:dil-23da6ddc-47b4-4572-a69d-886f52dcd7e9.tif

[2016-11-04 17:11] davidschober commented on #323
@Toputnal That looks like one of the ones that needs to be fixed. The only one that was 200 was the WWII one. And I think you have to curl it from the repository server.

[2016-11-04 19:04] Toputnal commented on #323
I believe the issue is with the "Other", of User/Group/Other fame, Read permissions.  The WWII posters are all set up with Other having Read permissions.  If I add Read permissions for Other to a file that does not work, it becomes visible.  I ran the following:

 on farchive13/inu-dil/hydra/production
s find . -name "*.tif" -type f ! -perm /o+r | wc -l
104907

on farchive8/inu-dil/hydra/productio

[2016-11-07 17:39] davidschober commented on #320
OAI verbs https://memory.loc.gov/ammem/oamh/oai_request.html

It seems to be on, but maybe we need more config to expose collections.

[2016-11-07 19:34] Toputnal commented on #323
I've kicked off the following command on farchive{8,13}/inu-dil:
 sudo find . -type f -name "*.tif" ! -perm o+r -print0 | sudo /usr/bin/xargs -I{} -0 chmod o+r {}
When that line finishes changing the permission for Other to Read, it would be great to run this test again.  I'll update here when  these runs finish.  --JRB

[2016-11-09 20:11] Toputnal commented on #322
I ran a check against ALL of the 3367 PIDs here searching on both farchive8 and farchive13 and found ZERO of these PIDs. cc: davidshober

[2016-11-09 20:43] davidschober commented on #322
Thanks @Toputnal.

[2016-11-09 21:38] Toputnal commented on #322
Ditto on the second batch of 1,043 PIDs.  Not on farchive8 or farchive13.

[2016-11-09 21:43] davidschober commented on #322
@Toputnal 596 of the 1043 tifs are present in /farchive/farchive13/inu-dil/hydra/test, correct?

[2016-11-10 21:08] kdid commented on #322
@Toputnal, have you tried subbing a dash for a colon in the tif name? I put an example in slack, images channel just now.

[2016-11-14 17:31] davidschober commented on #140
@d-venckus will send @Toputnal what was done with IR.

[2016-11-14 21:23] Toputnal commented on #322
Please see results here:  https://northwestern.app.box.com/notes/101502367807
and here: https://northwestern.app.box.com/notes/101501262573

[2016-11-14 22:18] jenyoung commented on #265
all have been dealt with.

[2016-11-14 22:18] #265 closed

[2016-11-15 21:54] jenyoung commented on #299
fyi , i'm hoping to do the ingest before thanksgiving or the week after.

[2016-11-15 22:34] davidschober commented on #299
@csyversen can you let Jen know what she needs to collect?

[2016-11-16 19:58] kdid opened #328 "Recode batch ingest to not to use /var/www/dil_hydra/current/tmp as temporary dir for tiffs"
This may be causing space issues

[2016-11-16 20:01] kdid opened #329 "Investigate correct use of jhove during batch ingest"
Investigate whether batch ingest, where 25 jobs may be trying to share the same jhove.xml file may be leading to incorrect metadata or other problems.

## Done

- [ ] Confident in our use of batch ingest and jhove
- [ ] issues written if necessary.

[2016-11-16 20:03] davidschober commented on #328
I asked @Toputnal to dig into this too.

[2016-11-16 20:06] kdid commented on #224
closing. this seems to be working.

[2016-11-16 20:06] #224 closed

[2016-11-16 20:56] kdid commented on #293
@davidschober and @jenyoung

In the example pictured above these are not the same character (you can see if you view source on the web page)

Compare:

[code]

[code]

One is a regular "e" with an accent character added after and the other is an "accented e"

http://www.fileformat.info/info/unicode/char/0301/index.htm

http://www.fileformat.info/info/unicode/char/e9/index.htm

[2016-11-16 21:03] jenyoung commented on #293
@kdid and @davidschober Right, we edited the agent set from one form to the other, correct form. In the bib records, the change is recorded, but it's not removing the old form in the facets.

[2016-11-16 21:20] kdid commented on #293
@jenyoung, I don't follow what you mean by the bib record. When I check the VRA in fedora, the characters are different there as well. Can you elaborate?

[2016-11-16 22:23] csyversen commented on #299
so my memory of this is kind of fuzzy, but all we should need to do is to update the handles so they no longer point to they do currently and they point to their new destination in images.

so i'd need a list of handles (something like 2166.DL/inu-blah-blah) and then the corresponding pid for that record.

[2016-11-17 19:57] kdid commented on #294
After investigating the code, it appears that this would be addressed by reversing this commit, which changed the Style/Period facet to be populated with the content of `<vra:stylePeriodSet><vra:display>` rather than the contents of each `<vra:stylePeriodSet><vra:stylePeriod>`.

https://github.com/nulib/images/commit/852324356827cf5ccd1e7332b7dee602934163fb

However, from the looks of things, if w

[2016-11-17 19:59] davidschober commented on #294
let's hold until we think through #293

[2016-11-17 21:23] jenyoung commented on #293
I'm referring to the VRA

[2016-11-17 21:27] jenyoung commented on #299
related work #307

[2016-11-17 21:37] kdid commented on #293
This is caused because though the VRA completely swapped with new values from menu, when the VRA is converted to solr, the new values are merged into the existing values in the solr doc rather than simply replacing them.

This seems to be how all the vra description fields operate and have always operated, nothing specific to the agent_name_facet.

I was able to change the behavior testing locally

[2016-11-18 12:23] davidschober commented on #293
Awesome! Thanks Karen. Do you need help from anyone else digging into this?

[2016-11-18 16:58] kdid commented on #293
@davidschober - Looking further, one complicating factor is that the code that creates the VRA and produces the solr docs is shared by both the image and VRAWork. So, that's why it was necessary to do the merge rather than the swap of the existing solr fields.

There is alot going on here with VRA coming from different sources -  menu ingesting, menu editing and batch and alot of complication with

[2016-11-21 16:10] davidschober opened #330 "Figure out group permissions needed for Temp"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

Newly added temp workers can't access images. Is there an LDAP group that we need them to be added to in order to get the same permissions as say Dru.

### Expected behavior
User can login and do administrative tasks like Dru

### Actual behav

[2016-11-21 16:19] kdid commented on #293
@jenyoung and @davidschober - I think I have a workaround which avoids anything so drastic by just forcing a solr index update on the specific pid after a update. Let me know if that sounds good and I'll put it up on staging. You'll need to test/validate all the data fields as they would all potentially be affected.

[2016-11-21 16:20] davidschober commented on #293
That sounds like a great plan @kdid.

[2016-11-21 18:42] davidschober commented on #330
A little more info here. Dru is a "normal" user not an admin. He can login and see collections via the front end. It seems as if temp employees do not have complete records (e.g. some fields like phone, etc are missing).

[2016-11-21 19:45] jenyoung commented on #283
@davidschober please have developer look over these.

sidekiq guides  - https://github.com/nulib/images/wiki

batch import instructions https://northwestern.app.box.com/notes/94250229118
batch import testing https://docs.google.com/spreadsheets/d/1sLE_tzRCM-OgogJu9gciNJWDUKb5CTrbV2qyJ1KX0VA/edit

public collections guide https://northwestern.app.box.com/notes/103996500539
public collections testin

[2016-11-21 19:52] davidschober commented on #283
Thanks Jen,

Can you put links in the batch ingest instructions to the sidekiq errors? Also, maybe add a “gotcha” section for when things go wrong. I know that one thing that we’ve gotten hung up on before is people rerunning batches.

[2016-11-21 19:58] kdid commented on #283
I think if you go through the process step by step and add some screenshots, xml samples,  and links, it would be helpful.

[2016-11-22 14:43] davidschober commented on #323
@csyversen or @kdid can you do a spot check of these so we can close this issue?

[2016-11-22 16:59] csyversen commented on #330
try changing images-s' ldap server to the new AD server (that's used in menu)

[2016-11-22 18:09] kdid commented on #323
Closing, I've spot checked, we'll know for certain when we implement the download feature and can open another issue then.

[2016-11-22 18:09] #323 closed

[2016-11-22 20:33] kdid opened #333 "Possible problem with Sidekiq start/stop scripts"
We noticed that Sidekiq is not running on 11/22/2016 on images-s, so there may be an issue with the scripts implemented in this issue:

https://github.com/nulib/images/issues/247

[2016-11-22 20:48] kdid commented on #293
@jenyoung you can go ahead and test this on staging.

(Note that the Style Period facet changes in issue #294 are NOT included in this one...)

[2016-11-22 20:53] kdid opened #334 "Investigate what processes running under user rabbitmq are doing on images-s"
Do we need these or are they just using resources? Not seeing same processes on images-p/production.

[2016-11-22 21:10] csyversen commented on #256
@davidschober i think the metadata team can work around it, but @jenyoung or nicole (not sure of her github name) is probably the best person to ask

[2016-11-22 21:23] jenyoung commented on #293
@kdid just tested on staging - all passes! yay!

[2016-11-22 21:34] davidschober commented on #256
I think you kicked this off right? @csyversen I think e can close this, unless you think it's critical.

[2016-11-22 21:36] davidschober commented on #330
OK. I tried the temps login on

Images -- No good
Menu  -- Works
Avalon -- Works
arch -- no good

Arch and images are using registry for the AD server. Can we tweak the config to try the other server (preferably on Monday after Thanksgiving...)

[2016-11-22 21:44] csyversen commented on #256
i didn't, no. This issue was put on hold for a while

(i'm just trying to keep up to date with all my github issues and so i'm going through any that i'm assigned to or mentioned in)

[2016-11-22 21:46] jenyoung commented on #256
i think this can be dropped for now. should be part of next gen validation.

[2016-11-22 21:47] jenyoung commented on #321
i'm closing this since we can handle it outside of MENU

[2016-11-22 21:47] #321 closed

[2016-11-22 21:52] csyversen commented on #307
related #299 , but once the records have been ingested into images and i get a list of handles and their new updated URLs in images I can go ahead and update the handles themselves. (i'm also going to cross post this in the other issue)

[2016-11-22 21:52] csyversen commented on #299
related #307 , but once the records have been ingested into images and i get a list of handles and their new updated URLs in images I can go ahead and update the handles themselves. (i'm also going to cross post this in the other issue)

[2016-11-22 21:56] jenyoung commented on #307
@csyversen some of these will need totally new handles as well.

[2016-11-22 21:59] csyversen commented on #307
@jenyoung i *think* that's easy enough. once they are in images and have a URL we can create handles for them

[2016-11-22 22:08] jenyoung commented on #307
great. just didn't want to lose sight of that part. @csyversen

[2016-11-22 22:23] davidschober commented on #256
Sounds good. Closing.

[2016-11-22 22:23] #256 closed

[2016-11-22 22:24] davidschober commented on #330
Todo:

- [ ] swap with the ldap server avalon is using in test
- [ ] verify temp style netIDs work.
- [ ] push to production.
- [ ] possibly standardize arch on same ldap?

[2016-11-23 15:28] kdid commented on #294
@jenyoung you can test this one on staging now as well.
You'll probably want to test all ingest methods (menu edit, menu new record and batch) as they would all be affected. (This will not make retroactive changes to existing records automatically.)

[2016-11-23 16:04] jenyoung commented on #294
@kdid tested. all good.

[2016-11-29 15:58] jenyoung opened #337 "Cannot publish NOR edit anything on production"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

Cannot publish NOR edit anything on production. Started at about 9:30 AM. 11/29.

### Expected behavior

Editing and publishing records should work.

### Actual behavior

Editing a record - upon publish, get a "null" error.

Publishing a new r

[2016-11-29 22:25] csyversen opened #338 "Recent commits had to be reverted"
### Severity - medium?

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### I had to revert the last two commits to images and redeploy
For some reason it was stopping Jen and Erin from editing or publishing new images. We'll have to take a look at those changes and make sure we run them through the wringer on staging

[2016-11-30 15:28] davidschober commented on #337
pulled back changes in issue #338.

[2016-11-30 15:31] davidschober commented on #337
@jenyoung and erin, can you verify

Does staging currently work
- [ ] Yes
- [ ] nope

After deploy on Wednesday we tested in production and everything worked
- [ ] yes
- [ ] no

Monday (or early Tuesday), we were publishing in production **and then** the system broke around 10:30am
- [ ] yes
- [ ] no

Go ahead and check the boxes, then add any notes in a new comment.

[2016-11-30 16:13] davidschober commented on #338
Note, after testing in #337, we will break out tasks if necessary.

[2016-11-30 16:15] davidschober opened #339 "add David as Images Admin in staging / production"
Hi all,

Please add me as an admin to staging an production.

[2016-11-30 17:13] jenyoung commented on #337
i wasn't asked to do a full blown test on production so i don't think i did. i feel like i edited a record though to make sure the facet updating happened.

editing and publishing  were done by erin and others on production after the change was pushed wed. afternoon.  all was good until erin tried to publish an edited record at about 9:30 am yesterday.

[2016-11-30 17:21] jenyoung commented on #337
images staging issues:

can neither create a new group nor delete an old one.  trying to create a powerpoint just has the wheel spinning for at least 10 minutes.

[2016-11-30 17:24] jenyoung commented on #337
menu staging issues;

can neither edit an exiting record nor publish a new one. getting the same errors that started on production yesterday.

publishing a new record

![2016-11-30_110557](https://cloud.githubusercontent.com/assets/2250501/20763404/8964a308-b6ef-11e6-9b00-151ad0b55c60.jpg)

editing an existing record

![2016-11-30_110653](https://cloud.githubusercontent.com/assets/2250501/20763416

[2016-11-30 17:45] davidschober commented on #337
Just to be clear, did you have someone roll through the whole script on production as well @jenyoung

[2016-11-30 17:47] jenyoung commented on #337
@davidschober right now? no. and not on wednesday either.

[2016-12-01 19:26] jenyoung commented on #307
these handles won't be needed after all. Dan wants to remove the links from ALMA. I will get @csyversen a list of handles to be deleted once migration is complete.

[2016-12-01 19:27] #307 closed

[2016-12-01 19:27] jenyoung commented on #299
#307 closed. no longer need handles for fava

[2016-12-01 20:53] csyversen commented on #339
got it

[2016-12-01 21:03] csyversen commented on #339
done, next the time apps are restarted the change will take effect

[2016-12-01 21:03] #339 closed

[2016-12-01 22:22] csyversen commented on #330
working on this

[2016-12-05 15:52] Toputnal commented on #140
I have the code and will implement it today.

[2016-12-06 00:39] jenyoung opened #340 "cannot publish my batch job to images-s"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

Job isn't been seen even though it's in the correct folder. Was able to batch import both the "11741" and "small_test_batch_2" folders. Wanted to test the African Maps files before I batch ingest them into production.

### Expected behavior

j

[2016-12-06 16:01] kdid commented on #340
@jyo, I don't see the directory 'maps_test_1' on the staging dropbox, I see it on the production dropbox.

Can you clarify where you are trying this?

[2016-12-06 16:35] jenyoung commented on #340
@kdid i thought the staging dropbox and production dropbox were one now. where is the staging dropbox?

[2016-12-06 16:59] davidschober commented on #340
Closing for now. The images staging dropbox is on po. @jenyoung can you post the full path when you get a chance just so we have a record.

[2016-12-06 16:59] #340 closed

[2016-12-06 17:47] Toputnal commented on #140
Done for both images-s and images-p

[2016-12-06 17:47] #140 closed

[2016-12-06 22:39] csyversen commented on #330
i did a bunch of experimenting today and tried using menu's staging configs and no dice. We might have to talk to devops to learn more about our ldap/AD set up

[2016-12-07 00:14] jenyoung opened #341 "staging rejecting filenames"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

tried to batch import the 296 files on po\Dropbox-Images-Menu-Staging\batches\maps_test_1
error given:  Invalid File Names -- all files listed as invalid.

moved one tif to jy_test, tried to import thru menu-s and received email "Hello, the fi

[2016-12-07 14:43] davidschober commented on #341
We will dig into the other parts of this. But the _completed folder is not being used anymore. That change occurred during our last big push. Having menu and images independently manage files was causing serious issues. Can you make sure the documentation gets updated to call that out?

[2016-12-07 19:47] davidschober commented on #341
Tested on staging with a small batch.

Bad accession numbers/dupes acted as expected.
good accession were imported

I will rework african map test (a small run with unique filenames)

[2016-12-07 23:33] davidschober commented on #341
Did another round of tests. Renamed african maps files and tested two sets of xml.

## TEST 1

* Tested two with original filenames

### Results
 Both failed with
![screen shot 2016-12-07 at 2 29 02 pm](https://cloud.githubusercontent.com/assets/4803230/20991249/03addd6a-bca3-11e6-9cca-fe2be0899c3e.png)

## Test 2:

Renamed files, tested one with afrimap xml, one with test dataxml.

* test batch:

[2016-12-08 00:40] jenyoung commented on #341
i figured out why afrimap1 fails with no accession. i need to correct my xml files. however, once i got the xml to pass, now the image is failing with "not an image type"

[2016-12-08 01:01] jenyoung commented on #341
did another test with my corrected xml -- jy_afri_small. left the hyphens in the filename - it fails with "invalid filename". changed the hyphens to underscores, filename passes but getting another error that the tiff is not an "image type"

[2016-12-08 15:49] kdid opened #342 "Problem with log rotation on staging"
The application isn't able to write log files - log rotation is setting file ownership to root.

[2016-12-08 15:56] kdid commented on #342
And permissions s/b 0666.

The application is not working.

[2016-12-08 16:15] davidschober commented on #342
@d-venckus and @Toputnal let us know when you have an update.

[2016-12-08 16:22] Toputnal commented on #342
Hi @kdid is this on images-s?  Which log files cannot be written?  Who is supposed to own the log files?

[2016-12-08 16:22] davidschober opened #343 "Fedora staging down/ images s down."
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary
Images can't connect to http://libfedora3s.library.northwestern.edu/ and is failing hard.

About page is throwing the error as well.

https://images-s.library.northwestern.edu/about

[2016-12-08 16:24] kdid commented on #342
/var/www/dil_hydra/shared/log

Compare with production

[2016-12-08 17:02] #343 closed

[2016-12-08 17:02] #342 closed

[2016-12-08 18:26] davidschober commented on #295
@jenyoung I think the last time we talked we decided we weren't going to change this in the current version of the application. Closing.

[2016-12-08 18:26] #295 closed

[2016-12-08 18:29] #303 closed

[2016-12-08 18:29] davidschober commented on #303
closing for now. This is tied to other issues we've dealt with.

[2016-12-08 18:30] davidschober commented on #304
Fixed.

[2016-12-08 18:30] #304 closed

[2016-12-08 18:34] davidschober commented on #311
@ccaizzi mobile is around %14 of our users 480ish a month. I would argue to punt.

[2016-12-08 18:57] davidschober commented on #320
OK it looks like this is running. Verbs respond.

david.schober [12:38 PM]
http://repository.library.northwestern.edu/fedora/oai?verb=Identify

david.schober [12:44 PM]
http://repository.library.northwestern.edu/fedora/oai?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:example.org:inu:dil-5f4c79ec-9f65-4e41-88aa-b4f1e128829b

david.schober [12:50 PM]
http://repository.library.northwestern.edu

[2016-12-08 18:59] davidschober commented on #320
Some side notes: We need to change our repository from example.org to our full repository name. Also @mbklein have you ever added extra metadata prefixes to a fedora OAI provider? I'm assuming it's in a config somewhere.

[2016-12-08 19:03] jenyoung commented on #293
reopening so we can remember to redeploy.

[2016-12-08 19:08] jenyoung commented on #338
related #293

[2016-12-08 20:35] davidschober commented on #330
Chris moving this to in progress.

[2016-12-08 20:35] davidschober commented on #337
@jenyoung closing as this is resolved.

[2016-12-08 20:36] #337 closed

[2016-12-08 20:38] davidschober commented on #329
@kdid I'll move this to ready. I'll assign you, but grab the team. It sounds like this is mostly investigative at this point?

[2016-12-08 22:09] kdid commented on #341
@jyo, the file `/dropbox/batches/jy_afri_small/inu_afrmap_3797082_recto_master.xml` is throwing the "not an image type" error because it is failing this test: `vra.xpath("/vra:vra/vra:image").present?`

I looked at the xml file in dropbox and it looks to be a work xml file not an image file?

[code]

[2016-12-08 23:45] jenyoung commented on #341
i have to investigate as to why my xslt is creating them as work records and not image records. i'm going to close assuming that there are no actual issues with the filenaming.

[2016-12-08 23:45] #341 closed

[2016-12-08 23:47] jenyoung commented on #283
@Nic4Images - @davidschober and i were discussing documentation in general earlier today. let's discuss.

[2016-12-08 23:50] jenyoung commented on #149
@egilchrist - is this still an issue or have we gotten through most of them?

[2016-12-09 14:51] jenyoung opened #344 "wipe files in images-s"
if it's not terribly time-consuming, it'd be helpful if images-s is wiped - all files removed from the app. thanks!

[2016-12-09 14:52] jenyoung commented on #341
i'm using the xslt that we use for ingestion into images from menu which creates a work. it's overcomplicating the issue and i just need to have it create an image record.

[2016-12-09 15:36] davidschober commented on #344
@csyversen said he's going to steal MBK's wipeout script from
https://github.com/avalonmediasystem/avalon/issues/1363

[2016-12-12 17:14] davidschober commented on #320
@jenyoung can you OK to close per our conversation? I think we can make a separate ticket to make this public later.

[2016-12-12 17:18] rtrautve1 commented on #320
#25

[2016-12-12 17:43] rtrautve1 commented on #270
per conversation - a cron job does this now- be we want to change this to have puppet do this

[2016-12-12 20:33] kdid commented on #326
A CSV containing pid,accesion for images we did not locate the tifs for is here:

 (These records are still in the images application with  `["ARCHV-IMG"].dsLocation=http://www.library.northwestern.edu` )

https://northwestern.box.com/s/xnqjugfqidcpvuretvfwpxcjtl7x3ox9

[2016-12-12 20:37] jenyoung opened #345 "batch import - duplicate accession errors occurring without being actual duplicates"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

During batch ingest, my test files on staging are being rejected with this error "RuntimeError: Existing image found with this accession number:"  It doesn't matter what I make the accession number it rejects it out of hand. I also noticed tha

[2016-12-12 21:10] kdid opened #346 "Update ARCHV-IMG location for tifs found on imagesarch1"
Update the 17,403 pids in this list to have ARCHV-IMG location of:
[code]

Currently `datastreams["ARCHV-IMG"].dsLocation
=> "http://www.library.northwestern.edu"`

https://northwestern.box.com/s/6dkvohyq3c8l5excae5qc3ud86oghrwh

(**note that the filename being used here is of the inu-dil (dash rather than colon) variety.)

### Background Info

This issue has been broken off from issue #326

- We

[2016-12-12 21:12] kdid commented on #326
closing, opened issue #346 to update tif path in Images

[2016-12-12 21:12] #326 closed

[2016-12-12 21:42] davidschober commented on #345
@jenyoung it looks like this is because there are works with the same accession number. I was able to import a batch using  a unique accession number https://images-s.library.northwestern.edu/multiresimages/inu:dil-0d8eab74-72da-4a25-b28f-3d104ac72b9d

I think we can close this assuming that we complete #344.

[2016-12-12 21:58] jenyoung commented on #345
But I'm using accession numbers that I know are not duplicates.

Sent by MailWise<http://www.mail-wise.com/installation/2> – See your emails as clean, short chats.

-------- Original Message --------
From: davidschober <notifications@github.com>
Sent: Monday, December 12, 2016 03:42 PM
To: nulib/images <images@noreply.github.com>
Subject: Re: [nulib/images] batch import - duplicate accession error

[2016-12-13 18:02] davidschober commented on #330
@csyversen can you review the stork/ jen email string?

[2016-12-13 18:33] kdid commented on #345
@jenyoung I was able to reproduce your problem using a copy of your xml/tif in `jy_afri_small`.

The xml is failing to add the update the relationSet in the work vra, and it is producing an incomplete  VRAWork file.  (that is why on retries it is failing with duplicate accession numbers, as the incomplete work record is not being removed)

I was able to get your xml file to work by adding (and the

[2016-12-13 18:38] jenyoung commented on #345
Yes it is. And my XSLT is supposed to be adding it to the records. I didn't realize it wasn't.  I will fix.

[2016-12-13 18:56] kdid opened #347 "VRAWork created by failed batch ingest record not being removed from Images application"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary
If certain aspects of the batch ingest fail for a record, the VRAWork is not being removed from Images.

The `multiresimage_batch_worker.rb` is not catching all errors that could lead to a VRA work being left in the application if  step of the

[2016-12-13 18:59] davidschober commented on #345
@jenyoung can you put this in a gotcha somewhere?

[2016-12-13 19:38] kdid commented on #322
Closing. Jim B. attached links to list of missing and found files for the record.

[2016-12-13 19:38] #322 closed

[2016-12-13 19:54] kdid opened #348 "Images sidekiq log not being written to after log rotation"
On both staging and production the sidekiq.log has not been written to since the timestamp of the last log rotation, even though we've had Sidekiq activity in both environments. ( I restarted staging so it's being written to now)

I checked our configurations and notice we are not using the `copytruncate` option described in this post (Option 2: normal Rails logs + logrotate).

Perhaps that would

[2016-12-13 22:36] jenyoung opened #349 "display issues with batch import on staging"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

### Descriptive summary

Record has been changed to only be a vra:image. RelationSet added.
Batch importing is working -but now there's weird display stuff happening.
Fields are being displayed multiple times.

https://images-s.library.northwestern.edu/multiresimages/

[2016-12-14 14:54] davidschober commented on #349
@jenyoung Let's see if we can trouble shoot this together. I have some time after a 10am.

[2016-12-14 15:40] kdid commented on #349
@jenyoung - is batch uploading xml containing `<display>` elements something that was ever tested in regards to batch?

Looking through the existing xml for batches  previously uploaded on staging (and production) I don't see any xml with these elements (obviously I can only see what remains on the server which isn't a ton).

[2016-12-14 17:24] kdid opened #350 "Images not handling display elements in VRA during batch ingest"
Updating DONE looks like 1/12/2017 since the comments on this ticket may have gotten confusing:

DONE:
- [x] Fix validation check of VRA (both work and image) after it is transformed so that invalid VRA does not go into Images.
- [x] (new feature) If display element for an element set  is provided and is not empty, use it. Only if it is not provided, proceed with the concatenation rules that are a

[2016-12-14 21:52] csyversen commented on #330
Yep, reviewed.

We roped in MBK to help out and figured out that menu and images are doing authentication slightly differently. Images is using omniauth and menu is using devise-authenticatable. So somewhere in there (and also possibly in the differing configs) is what we'd have to fix.

That's not a quick and easy change though, it'd require some developer thought and time.

[2016-12-14 22:29] jenyoung commented on #320
OAI-PMH is up and only doing DC. Will have to investigate further for pushing out VRA. Going ahead and closing now.

[2016-12-14 22:29] #320 closed

[2016-12-14 22:30] jenyoung commented on #330
Going to go ahead and close. Thanks for investigating. Need to remember this for nextgen so temps can login to that system.  We'll continue to login temps daily.

[2016-12-14 22:30] #330 closed

[2016-12-14 22:35] jenyoung opened #351 "public collections (images) in primo"
### Descriptive summary

@davidschober meets with @MetadataKaren to discuss images public collections in Primo.
End of February target date. Original estimate about 3 days work for devs.

[2016-12-15 15:13] #346 closed

[2016-12-15 15:13] #348 closed

[2016-12-15 16:42] davidschober commented on #350
Talking with @jenyoung. Per original requirements everything except subjectSet and dateSet elements were to concat descriptions. So this may be a non-issue and an errant transform. Retesting.

[2016-12-15 17:11] davidschober commented on #350
This is a fairly serious problem.

The estimate for this work is a week to two weeks with testing.

[2016-12-15 17:28] davidschober commented on #350
@kdid and @csyversen I'd like you dig into this deeper after the new year (or before if the other work goes well). I'll put it at the top of ready. After discussing with the team, the risk of bad data seems pretty high.

[2016-12-15 17:31] davidschober commented on #349
closing. This should be handled in #350.

[2016-12-15 17:32] #349 closed

[2016-12-15 17:48] #324 closed

[2016-12-15 19:27] jenyoung commented on #350
If a display attribute is supplied for an element Set, that should be used. Otherwise, a display should be generated upon ingest.

[2016-12-16 15:11] #293 closed

[2016-12-16 15:11] #294 closed

[2016-12-16 15:11] #338 closed

[2016-12-16 17:30] csyversen commented on #325
done! the update script ran successfully

[2016-12-16 17:30] #325 closed

[2016-12-16 20:24] davidschober commented on #322
Adding an issue for Jen and team to work with the records with no matching tifs.

[2016-12-16 20:27] davidschober opened #354 "Investigate images with missing originals"
### Descriptive summary

This issue relates to #322

The team will need to locate other copies of and reimport the set of images that do not have original tiffs. (see #322)

[2016-12-16 20:31] #283 closed

[2016-12-16 20:32] davidschober commented on #263
Still on production to get us the originals per @jenyoung

[2016-12-16 20:36] davidschober commented on #217
@csyversen @kdid we can close this correct with a "known issue" This was an edge case as I remember. Batch checks generally for duped accessions.

[2016-12-16 20:45] jenyoung commented on #354
@Nic4Images pids for investigation https://northwestern.app.box.com/notes/101502367807
https://northwestern.app.box.com/notes/101501262573

[2016-12-16 20:49] jenyoung commented on #149
per @egilchrist these are only happening with 6 images from La Caricature. Waiting for images from production staff to reingest. Closing since not currently happening.

[2016-12-16 20:49] #149 closed

[2016-12-19 15:38] kdid commented on #354
@Nic4Images and @davidschober - these from #326 also don't have .tifs - not sure if you needed to track those as well

https://northwestern.box.com/s/xnqjugfqidcpvuretvfwpxcjtl7x3ox9

[2016-12-19 15:41] kdid commented on #217
@davidschober - Images checks if the accession number exists in images but not within the batch, so the workaround is to make sure there are no duplicates within the batch.

[2016-12-19 21:10] kdid commented on #291
Opened ticket with devops: https://github.com/nulib/devops/issues/29

[2016-12-21 17:30] kdid commented on #291
@jenyoung and @Nic4Images - the status of this is that the download button is  on staging, but we are waiting on @d-venckus or @Toputnal to take a look https://github.com/nulib/devops/issues/29 so that the tifs on staging will be accessible. (Right now the app will correctly display an error message since it can't find the tif). Once they've addressed that, we will need to update some configs and

[2016-12-21 21:56] kdid commented on #350
@jenyoung, you know you cannot supply display elements on an initial publish from Menu, correct?

[2016-12-21 21:59] jenyoung commented on #350
except for date and subjects which we do supply in Menu, otherwise yes

[2017-01-06 21:54] jenyoung commented on #263
Six records are still not displaying an image in Images even though it was successfully published in Images. Bringing up the published in record in MENU just shows a broken Default.  These might be really huge Tifs but nothing displays even after an hour of letting try to load.

- http://images.northwestern.edu/multiresimages/inu:dil-ba941c61-70ff-4cc0-94dd-52cc56c9fa8e
- http://images.northwester

[2017-01-06 22:24] Nic4Images commented on #354
Hi, I have been reviewing the files and many are from collections cataloged in 2015. The Tiffs should be in Completed on Images Dropbox. I will spot check them on Monday. Update to come!

[2017-01-06 22:33] Nic4Images commented on #354
Current collections identified in this list : Alexander Hesler Photograph Collection (Public and cataloged Fall 2016), Study Photographs, Department of Theatre. Linda Roethke. (DIL and cataloged September 2015-June 2016) ..

[2017-01-09 18:40] davidschober commented on #345
@kdid you have a different issue tracking documentation, so we can close this, correct?

[2017-01-09 18:43] davidschober commented on #344
@csyversen ported the wipeout task. When ready, we can run. @kdid do you have any other concerns?

[2017-01-09 19:47] kdid commented on #344
Nope -just a note that the DIL institutional collection (and WWII if it is needed), need to be manually created by a dev afterward with the same pid it has in the config.

[2017-01-09 19:48] #345 closed

[2017-01-09 22:14] davidschober commented on #350
@kdid per our discussion this morning, do you want to close this and create a documentation issue?

[2017-01-09 22:47] davidschober commented on #354
@Nic4Images and @kdid I thought it might be easier to parse the found/not found dump in a spreadsheet so I put it into columns https://northwestern.app.box.com/files/0/f/16299654001/2017_tifs_missing

I kept the same naming scheme as I can't remember if those files were separated for some reason.

[2017-01-09 22:53] Nic4Images commented on #354
@kdid do you remember when we asked Jim to do this? David is here with me and wondering.

[2017-01-10 00:16] davidschober commented on #354
@kdid and @csyversen scratch the above comment. Couldn't remember timeline on #346 , etc. Let's discuss whether we can dig try to match some of these using accession on the old _completed.

[2017-01-11 18:08] davidschober commented on #354
We did a sampling from these spreadsheets https://northwestern.app.box.com/files/0/f/16299654001/2017_tifs_missing and found that we tested in _completed under jobID/jobID_accession.tif.

[2017-01-11 18:22] davidschober commented on #354
Nicole, one last spreadsheet to review. These are ~6k that seem to be old ones (job is voyager).  https://northwestern.app.box.com/files/0/f/16299654001/1/f_121809914553

[2017-01-11 18:34] davidschober opened #357 "Delete 6k old images without tiffs"
##DONE
Please remove the PIDs on this spreadsheet per @Nic4Images OK. These images were imported from voyager and have no accompanying tiffs.

https://northwestern.app.box.com/files/0/f/16299654001/1/f_121809914553

[2017-01-11 18:35] davidschober commented on #354
This was getting unwieldily I moved ^^^ to #357. This issue will be for moving tifs from _completed.

[2017-01-11 19:31] Nic4Images commented on #357
@davidschober  I approve of this list of PIDS being deleted from Images. It is the old stuff I have known is lacking Tiffs. Thanks, N.

[2017-01-12 22:35] davidschober opened #358 "Move/Copy missing tifs from _completed"
### Descriptive summary

This issue relates to #354

The team will need to locate other copies of and reimport the set of images that do not have original tiffs. (see #322)

### DONE

note, this was updated after investigative work.

Please reimport tifs from  [pid_results](https://northwestern.app.box.com/files/0/f/16299654001/1/f_120873855603) and [pid_results2](https://northwestern.box.com/s/0q

[2017-01-12 22:36] davidschober commented on #358
@kdid I spun this off from 354 which became a bit of a bigger investigative story.

[2017-01-12 22:37] davidschober commented on #354
Created #358 to do work.

[2017-01-12 22:37] #354 closed

[2017-01-13 17:16] kdid opened #359 "Log Rotation on Images. Keep logs for 60 days."
On images-p, we see 4 days of archived logs. On images-s we see 7 days.

We need to have access to logs for the last 2 months (or 60 days) before they are removed.

[2017-01-13 19:49] Toputnal commented on #359
I have set the log rotation for Images 60 days for both production and staging.  Staging has 3.5 GB used under /var and is 88% free.  Production has 34GB used under /var and has 25% disk free.  If we start to get Paged about space issues on Production, we will need to cut this number back.  @kdid @csyversen

[2017-01-13 21:45] kdid commented on #291
@Nic4Images and @jenyoung -
The TIF button can be tested now on staging. Should work for any new images you add/import. (The old images in there should show examples of error conditions) I tested one through batch and seems OK.

In addition to error conditions be sure to test correct behavior of all buttons for authenticated/unauthenticated and authorized/unauthorized users.
Thanks!

[2017-01-17 19:49] jenyoung commented on #291
tested Tif button with batch imported record. All passed.

[2017-01-17 19:50] davidschober commented on #291
@Nic4Images can you give final sign off?

[2017-01-17 21:58] Nic4Images commented on #291
Hi, I tried downloading a Tiff and it spun. There seemed to be a connection issue here.

[2017-01-17 22:34] davidschober opened #360 "Restart Staging"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary
@Toputnal or @d-venckus can you restart images staging. The box is running out of memory and we're trying to figure out what might be causing the issue.

@kdid or @csyversen to followup.

[2017-01-18 17:25] davidschober commented on #359
@kdid and @csyversen closing this as done.

[2017-01-18 17:29] #359 closed

[2017-01-18 17:32] davidschober commented on #314
@kdid do you need @jenyoung to spot check metadata so we can close or are we goo to go?

[2017-01-18 17:34] d-venckus commented on #360
Images-s has been rebooted. Memory usage is low at present, only about 10% of the 16GB configured for it.

[2017-01-18 17:35] davidschober commented on #360
Good, I'll close this. @jenyoung and @kdid and @Nic4Images feel free to test and verify.

[2017-01-18 17:35] #360 closed

[2017-01-19 22:50] egilchrist commented on #291
Finished testing a small batch and image on Staging.  I was able to download a Tiff for both on Staging.

[2017-01-20 15:47] kdid commented on #291
Great, I think we are just waiting on sign-off from @Nic4Images then.

It looks like the server unresponsiveness/performance issue that Nicole (and I) experienced when using the tif button was related to trying to use it while alot of image conversions were happening. For example, trying to use the Download Tif button on an image page that is being viewed for the first time after being imported th

[2017-01-20 17:13] #291 closed

[2017-01-20 17:13] #344 closed

[2017-01-25 16:12] Toputnal commented on #270
I don't see the cron job being referred to here.  However, I do see that libsolr3s is NOT managed by puppet at all.  I'm writing the code for it and will migrate the server to PE so that it will have tomcat-fedora (and many other things) may be managed by puppet.  This may cause downtime @davidschober @csyversen @kdid  as I work on it.

[2017-01-25 16:14] davidschober commented on #270
Awesome! Thanks @Toputnal

[2017-01-27 22:24] jenyoung opened #363 "please wipe image-s Monday 1/30"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary

@csyversen please run the wipeout script on staging on Monday 1/30.

[2017-01-31 20:23] Nic4Images opened #364 "Slow loading time on images in public collections off campus."

[2017-01-31 20:33] ccaizzi commented on #364
Both Nicole and I noticed this off campus.  When I was testing this past week, I literally got up to get coffee and came back and still no image had loaded when you are within an image record.  I also am seeing images stall (are fuzzy) even now on campus.

[2017-02-01 02:17] davidschober commented on #364
Is it images that are new/ not previously loaded? If images are not cached load time can vary. To solve this would take a different architecture.

Sent from my iPhone

[2017-02-01 15:46] ccaizzi commented on #364
They were not new.

[2017-02-01 15:52] davidschober commented on #364
I shouldn't have said "new". It's really whether an image has been hit before. I hit some images that seem as if they're not cached. After the iiif server caches them, they load fast. I fear what is happening is some users are hitting deeper images, kicking off a bunch of resizes (the RIIIF server resizes on the fly) slowing down the machine as a whole.

I see two options:
* Try to stand up varnis

[2017-02-01 19:28] davidschober commented on #364
didn't mean to close this. Clicked close other than comment.

[2017-02-01 20:24] csyversen commented on #363
i've been updating slack, but this is in progress right now. Solr has been cleared and fedora is still running

[2017-02-01 21:20] davidschober commented on #364
Just spoke to CC. We should keep an eye on this, but for now I'll close the issue.

Looking at average load times in the last month individual record urls had load times of ~4seconds. The top 1000 URLs were significantly shorter. Two significant blips pushed load times into the 20s. On listing pages the average load time is 2.67 seconds with one significant blip on Thursday Jan 26.

[2017-02-01 21:20] #364 closed

[2017-02-02 02:47] davidschober opened #365 "install and benchmark graphicsmagick for conversions/ resizes"
### Descriptive summary
We know that batch import and resizing on the fly bogs the system. I would like to look into dropping in graphicsmagick. We should be able to just drop it in as a replacement with an alias to convert (and other utilities as needed). It is considerably faster at certain operations (converting to jp2, resizing).

I'm hoping a simple swap gives us some headroom.

- [ ] graphic

[2017-02-02 20:57] csyversen commented on #357
ok, just to double check on this ( @Nic4Images ) : you want me to delete these 6k records from production Images?

I can do this tomorrow morning if so!

[2017-02-02 21:00] Nic4Images commented on #357
Hi, That is correct. Merci!

[2017-02-02 21:07] csyversen commented on #358
@davidschober @kdid ok, so to match up the TIFFs that are in _completed (and named with jobid_accession.tif) , we'll have to search solr i guess for matching accession numbers for each record, right? Is there another way of doing this that i'm not thinking of?

[2017-02-02 21:12] davidschober commented on #358
I'll leave this to @kdid. She and Brendan put together something for the MDID thing. Do you have a gist?

[2017-02-02 21:53] csyversen commented on #357
(also i have avalon sprint planning tomorrow morning and then an Arch demo so this will probably have to wait until monday)

[2017-02-02 21:56] Nic4Images commented on #357
Okay, I will be at the ARLIS-NA conference through Wednesday morning or afternoon thus if I need to be here for this know I am unavailable those days.

[2017-02-02 22:01] csyversen commented on #357
I think we should be ok unless you want to check up on it or something! It's your call, I can hold off if you'd like! @Nic4Images

[2017-02-02 22:25] Nic4Images commented on #357
I do not see an issue with it. If you want spot checking or such it will just have to wait. Tho I can't think of anything to spot check!

[2017-02-06 16:56] csyversen commented on #357
I'm going to hold off on this for about a week because other issues have popped up. This is still on our radar though!

[2017-02-07 21:44] csyversen commented on #363
this is mostly done, i just need to recreate the DIL collection. I'll update this ticket once that's done

[2017-02-07 22:11] csyversen commented on #363
ok, done!

[2017-02-07 22:11] #363 closed

[2017-02-13 19:32] davidschober commented on #350
@jenyoung can you review and give the OK to merge/close?

[2017-02-13 19:32] davidschober commented on #347
@jenyoung can you review and OK to merge/close?

[2017-02-13 19:36] jenyoung commented on #350
will test with afri maps sample this week.

[2017-02-13 19:36] jenyoung commented on #263
still waiting on rescans from production staff

[2017-02-13 19:37] jenyoung commented on #347
do you want me to intentionally send a duplicate record through batch ingest?  i'm not sure how to test since i don't see the backend.

[2017-02-13 19:38] #314 closed

[2017-02-13 19:45] jenyoung opened #366 "change links to cataloging procedures and help from MENU"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary

Cataloging guidelines

New link
https://share.northwestern.edu/dept/LIB/rdc/Procedures/Cataloging%20Guidelines.aspx

MENU help

new link
https://share.northwestern.edu/dept/LIB/rdc/Procedures/MENU%20help.aspx

[2017-02-13 20:37] davidschober commented on #347
@kdid just putting in a batch that purposefully fails should do the trick, correct/

[2017-02-13 20:58] kdid commented on #347
Above, under "Steps to Reproduce...." there were certain conditions that caused the orphaned work record. Like not including the relation set.

Not all types of failures caused this.

So not including the relation set will still fail.

but subsequent retries wouldn't produce the duplicate accession number error....

[2017-02-14 18:22] csyversen commented on #270
@Toputnal @d-venckus i think you guys did this, right? If so, can we close this issue?

[2017-02-14 21:29] csyversen commented on #299
hey @jenyoung , i just wanted to follow up on this issue. We were holding off on importing the african map collection for some reason?

[2017-02-14 21:32] jenyoung commented on #299
@csyversen wanted to upload them on staging first to make sure none of the images are too big and that the metadata was correct. that's where  the vra display and vrawork bugs came from and why i wanted to wait till staging was cleared out

[2017-02-14 21:35] csyversen commented on #299
ah cool, thanks for the update! I'll leave this ticket alone until we're ready to get to it then!

[2017-02-15 16:21] jenyoung commented on #347
@kdid I'm ready to test this now. I will send one record through without relationSet, and then send the same record through again with relationSet after it fails the first time.  Is this the accurate test?

[2017-02-15 16:25] davidschober commented on #347
@kdid answered yes on slack.

[2017-02-15 16:39] jenyoung commented on #347
Uploaded record without relationSet - failed. Uploaded same record with relationSet - passed and imported correctly. Image is giving the HTTP 500 attempting to load TileSource note but that might be ok. It's a large tiff.

[2017-02-15 16:43] davidschober commented on #347
It has to crunch the image.

[2017-02-15 17:08] jenyoung commented on #347
it's not giving the HTTP 500 error anymore, but it's not loading the image. In Sidekiq,  this error appears: "RuntimeError: Existing image found with this accession number: 2016_12_14_10_28_jen"

[2017-02-15 17:10] davidschober commented on #347
OK. the @nulib/repodev team is cranking on getting IR out the door. Hang tight.

[2017-02-16 21:35] kdid commented on #347
@jyo, I just tested the problem you were describing yesterday in images-s. I did a one record batch with no relationSet. I saw it fail in sidekiq with the `Had a problem saving /dropbox/batches/ksd_02162017/0216201701.tif: undefined method `set_attribute' for nil:NilClass` error. Then I killed thatjob in sidekiq under retries. Then I added the relationSet to the record and tried batch again and it

[2017-02-17 17:43] jenyoung commented on #350
tested with a batch of three records - had display elements, no vra:work and made sure it had the relationSet. they all failed. sidekiq error below. i can't see the rest of the error message so i don't know which element is failing.

![2017-02-17_113940](https://cloud.githubusercontent.com/assets/2250501/23076464/386f0cae-f506-11e6-9a8f-a8cbe24b6950.jpg)

[2017-02-17 19:46] kdid commented on #350
@jyo - I think this is because you have provided a display for locationSet. locationSet is an exception to the rule handled by different logic than the rest of the sets and will error if you provide the display elements. I've not had a chance to confirm that this is your problem but from a quick glance that's my guess.

Did you get a chance to take  look at the doc I wrote about what XML batch is

[2017-02-17 22:40] davidschober commented on #350
@jyo and I discussed. She will retest without locationSet.

[2017-02-20 17:40] davidschober commented on #333
@kdid This was made redundant with @d-venckus 's start stop scripts (work done via  #99 and #20)

[2017-02-20 17:40] #333 closed

[2017-02-20 17:54] kdid commented on #333
This ticket is images not ARCH though. I think the issue is that if sidekiq dies for some unknown reason, it's not restarted - which is what happened when this issue was opened.  But starting and redeploying the application and server reboots are working fine.

[2017-02-20 18:21] davidschober commented on #333
Apparently I have arch on the brain. Let's leave this closed and open a new one if need be.

[2017-02-23 22:10] Nic4Images opened #367 "Images in public collections are slow to load."
Trans (5th floor) : In some cases the image “fuzziness” takes over 30 seconds to disappear or part of the menu will be fuzzy while part will be clear. Browser Chrome.
Spec (Deering) : it doesn't seem to be working well. yeah, when you first open tabs of zoomed in images there's nothing there, then eventually they load. Browser: Chrome.
R&DC (2E) : Erin and I noted they are loading fine. Browser/s:

[2017-02-23 22:35] davidschober commented on #367
@Nic4Images is this happening consistently on specific images?

I worked through a series of images -- some fairly deep and saw no problems. I fear this might be our known issue, namely that when under conversion load the entire system gets very slow. I think this is the same issue noted in #364

[2017-02-23 22:39] Nic4Images commented on #367
Ugh, I will watch it tomorrow then. If it is the same issue then I will have to tell the curators there is nothing we can do about it right now. Next Gen!

[2017-02-23 23:16] kdid commented on #367
I just did a sanity check on the server and everything looks alright. I'm seeing slowness only when converts are going on so I'm inclined to agree with David that this is the same known issue.

[2017-02-24 14:30] Nic4Images commented on #367
I will have to say something to curators like Roberto thus I will explain this is just how it functions right now and then spin Next Gen. Thanks, N.

[2017-03-01 21:54] Nic4Images opened #368 "MENU is not publishing new records."
MENU is throwing us the null message and refusing to publish new records. Erin has tried all of her tricks and nothing is working. Edit works.

[2017-03-01 21:57] davidschober commented on #368
@Nic4Images can you add some sample records (or point us to the ones that won't publish).

@kdid @bmquinn can you look into this? If @carrickr has time it might be a good introduction, but we're trying to release 6.0.

Also this might be a good "look over a shoulder" for Adam.

[2017-03-01 22:02] Nic4Images commented on #368
Ex of ones we tried to publish 11775_320666, 11795_duntley35824, 11795_duntley35825, 11775_320667

[2017-03-01 22:05] kdid commented on #368
It looks like on Images getting the JHOVE error again

[code]

and has the Java memory error again.

[code]

@d-venckus - can dbvops restart?

[2017-03-03 15:20] kdid commented on #368
@Nic4Images  - It looks like you are able to publish successfully now? Everything OK?

[2017-03-03 15:23] kdid opened #369 "Update developer install instructions in README"
Update readme so that new developers can install the application on their computers using the instructions.

[2017-03-03 15:24] kdid commented on #369
Done, with weirdness with jetty.

[2017-03-03 15:24] #369 closed

[2017-03-03 15:43] Nic4Images commented on #368
Yes! Erin and I were able to publish yesterday. Thanks!!

[2017-03-03 15:47] csyversen commented on #182
i kind of think we should just close this issue. Lets just focus our attention on future things instead. Sound good?

[2017-03-03 15:55] csyversen commented on #182
ok, closing! we might address this later if we need to

[2017-03-03 15:55] #182 closed

[2017-03-03 16:09] #368 closed

[2017-03-03 16:09] csyversen commented on #368
cool, done!

[2017-03-03 16:21] csyversen commented on #347
so @kdid @jenyoung did this just end up being a server/memory problem? can we close this too?

[2017-03-03 16:28] csyversen commented on #350
@jenyoung can you please retest this too? thanks!

[2017-03-03 19:35] jenyoung commented on #350
tried to batch ingest a vra:image record without a locationSet display. Failing in sidekiq. There should be no vra:work in these records, correct?

"RuntimeError: Had a problem saving /dropbox/batches/jy_test/jen_test_2017_3_3.tif: The resulting VRA Work datastream does not validate. ["Validation error: Element '{http://www.vraweb.org/vracore4.htm}..."

[2017-03-03 21:50] kdid commented on #350
@jenyoung - I'm still seeing a display element in the locationSet in /dropbox/batches/jy_test/jen_test_2017_3_3.xml

[code]

[2017-03-03 22:39] jenyoung commented on #350
my bad! it works now!

[2017-03-03 22:39] jenyoung commented on #263
we should have the rescans by Friday, March 10.

[2017-03-03 22:45] jenyoung commented on #347
@csyversen i think this is solved on staging, needs a push to production.

[2017-03-06 15:39] carrickr commented on #305
Updating java on this machine, but it may introduce more bugs and break other aspects of the images environment.  Developers move we close this and only reopen if it becomes a significant problem and worth taking on the risk of the java update.

[2017-03-06 15:39] #305 closed

[2017-03-06 15:42] carrickr commented on #270
20 days later and fedora appears to be running, so yeah it probably restarted.

[2017-03-06 15:42] #270 closed

[2017-03-06 17:11] csyversen commented on #290
hey @jenyoung , i just happened to run across this. Is this still an issue?

[2017-03-06 18:26] davidschober commented on #305
agreed.

[2017-03-07 15:58] csyversen commented on #357
hey @Nic4Images , i'm back to getting ready to run this! is it ok to run this today?

[2017-03-07 16:33] Nic4Images commented on #357
Sounds good! I am here if you need me.

[2017-03-07 18:25] davidschober commented on #350
@jenyoung I was talking to the devs and this issue is fairly complex and changed core logic, we really need to do a full regression test on this. (Run publishing through it's paces --batch, menu, editing, etc). Can you and the testing team schedule time and kick off a formal test, before sign off?

[2017-03-07 19:50] carrickr opened #371 "Increase Core Count on images-s"
Images-s currently only has four cores and when testing image upload abilities these cores end up maxxed out by Image Magick conversions.  This makes the machine extremely unresponsive, multiple minute load times in the web app, etc.  We need more cores, at least temporarily, added to images-s so that our new version of it can be end to end testing.

Also while not as important, more RAM might als

[2017-03-07 19:52] davidschober commented on #371
@d-venckus can we put in a request for more cores on images-s? Is that just a request to NUIT?

[2017-03-07 20:10] csyversen commented on #357
This just finished! It looks like all 6308 records were deleted successfully. I spot checked several records and they aren't showing up anymore! @Nic4Images

[2017-03-07 20:43] #357 closed

[2017-03-07 23:40] d-venckus commented on #371
Since this server is hosted in our vCloud segment, I can configure CPU cores and memory myself.  But I'll need to check on how much of a load exists upon its host server, since over-allocation of CPU would actually degrade performance at peak times, and not enhance it.  I'll check and get back to you.

[2017-03-08 14:43] davidschober commented on #371
Thanks @d-venckus @carrickr and team, can you followup?

[2017-03-09 16:53] davidschober commented on #217
I think I meant to close this a while ago. Closing now. Please let me know if we need to reopen.

[2017-03-09 16:53] #217 closed

[2017-03-09 22:17] jenyoung commented on #290
@csyversen i'm not sure. Am I supposed to get an email anymore when I upload a job into MENU? Because I didn't.

[2017-03-09 22:20] csyversen commented on #290
@jenyoung I'm not sure what the deal is with email notifications and when they are supposed to be fired off, but i'm guessing the current behavior is ok if nobody has complained. Do you mind if i close this and we can open up another issue if we start running into problems?

[2017-03-09 22:24] davidschober commented on #290
This was specific to auto-generated emails that were hard-wired (I think jl email was in there. I believe you cleaned it up.

[2017-03-09 22:24] #290 closed

[2017-03-10 22:06] bmquinn opened #373 "Expand farchive13 share"
farchive13 is nearly full, and if we can get it expanded to 8.0TB that would probably be enough space going forward.

Here's the current usage:
[code]

[2017-03-11 00:14] d-venckus commented on #373
I've submitted a request to Don Hammer at NUIT-PIPS to increase the allowed quota size of /repository/farchive13 to the full 8 TB.

[2017-03-13 05:03] d-venckus commented on #373
This has been completed.  Please verify and comment.  Thanks.

[2017-03-13 14:27] kdid commented on #373
Yes, we checked. It looks like it has been expanded.

[code]

[2017-03-13 14:49] #373 closed

[2017-03-13 14:49] davidschober commented on #373
Thanks Don!

[2017-03-13 14:54] bmquinn commented on #358
@Nic4Images @jenyoung here's a spreadsheet of the 16 images that had errors during the process of copying @kdid and I ran on Friday: [errors.xlsx](https://github.com/nulib/images/files/838566/errors.xlsx). It looks like several of these are test images based on the accession numbers but not all, so if you could take a look that would be great.

Thanks!

[2017-03-13 17:02] kdid commented on #358
The missing tifs have been restored. Closing this issue.

[2017-03-13 17:02] #358 closed

[2017-03-14 15:27] kdid commented on #371
@d-venckus - could we get an update on this?

Thanks.

[2017-03-15 18:16] d-venckus commented on #371
I checked, and I believe we should be able to sustain the additional cores.  I just reconfigured images-s, which I previously enabled for hot-add of cpu and memory, so we now are running with 8 vCPUs and 20 GB of memory.  If we run into any performance issues on the host, we might need to dial back a bit, but right now, performance looks fine.

[2017-03-15 18:19] davidschober commented on #371
Thanks!

[2017-03-15 18:19] d-venckus commented on #371
Please let me know how the VM performs under load, with the extra vCPUs and memory.

[2017-03-15 18:26] davidschober commented on #371
Closing.

[2017-03-15 19:20] d-venckus opened #374 "Redis service on images-s is exposed to network via ipv6 - bind *only* to 127.0.0.1:6379"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary

 The redis-server on Images Staging appears to be exposed to the NU-wide network via ipv6 (:::6379).  This service should *only* bind to localhost (127.0.0.1:6379).   This vulnerability appeared in a NUIT security scan.

The service startup sh

[2017-03-15 19:23] d-venckus commented on #374
I've edited the redis init.d startup script to start redis like so:
    `redis-server --bind 127.0.0.1 &`
After the service was restarted, redis was no longer accessible via ipv6, and should not appear on future security scans.  The same change was made to the production init.d script, for consistency, but happily, that server is more heavily firewalled, so the ipv6 exposure was non-existent.

Thi

[2017-03-15 20:10] d-venckus opened #375 "Unnecessary Samba server is running on Images-s; verify as unneeded and deactivate"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary
Images-s has a half-configured samba server running on it, which was revealed by a security scan.  It appears to be a vestige of the first version of the Images Staging Dropbox, which had been hosted locally on the server (later moved to Isilon

[2017-03-15 20:12] d-venckus commented on #375
There was no functional samba server configuration on images-s, merely the stub smb.conf, for the samba-client.  I've shut down smbd services and have prevented their restarting upon reboot.

[2017-03-16 01:55] davidschober commented on #367
closing this specific issue.

[2017-03-16 01:55] #367 closed

[2017-03-16 02:02] davidschober commented on #329
is this still relevant?

[2017-03-16 16:19] kdid commented on #371
@d-venckus ( @davidschober ), after attempting to run through regression testing on Images-s, Erin is reporting performance is so slow that the system is unusable for testing. Is there anything else that can be done to boost performance?

[2017-03-16 16:22] d-venckus commented on #371
That's an unhappy thing.  Perhaps we might reboot the VM?  I "hot-added" CPU and memory, so maybe a reboot will improve performance.

[2017-03-16 18:06] kdid opened #376 "ssh access po.library.northwestern.edu for ksd927"
(and other developers if they don't have it.)

[2017-03-16 18:10] kdid commented on #329
I think we opened the ticket knowing this was an issue we might not fix but to keep it tracked. Yes, it's still an issue. But we can close as "Known Issue" if we don't want to fix now.

[2017-03-16 18:26] kdid opened #377 "Permissions issue for Menu-s dropbox (PO)"
The Menu staging application is failing on trying to import images.

The menu application is trying to do:

[code]

Error in logs:

[code]

manual solution: `sudo chown -R deploy:librepofiles-images-rw 511977/` worked

permissions before change: `drwxrwsr-x  2 emg966 librepofiles-images-rw  420 Mar 16 12:42 511977`

permissions after change: `drwxrwsr-x  2 deploy librepofiles-images-rw  420 Mar 16

[2017-03-20 13:50] davidschober commented on #371
closing as complete.

[2017-03-20 13:50] #371 closed

[2017-03-20 20:11] kdid opened #378 "increase riiif cache config"
to 365 days. (currently 30)

[2017-03-21 19:58] jenyoung commented on #350
signing off - push to production when ready

[2017-03-21 21:48] davidschober commented on #350
Thanks jen. Make it so team..

[2017-03-22 17:33] #347 closed

[2017-03-22 21:18] csyversen commented on #350
cool, i'll talk with the team to see what's up, but hopefully i'll do it tomorrow

[2017-03-23 13:10] kdid commented on #350
This is done. Closing

[2017-03-23 13:10] #350 closed

[2017-03-23 17:33] davidschober commented on #350
Great work.

[2017-03-27 15:47] ccaizzi commented on #313
@davidschober we decided to pull back on this, correct?

[2017-03-27 16:06] #375 closed

[2017-03-27 18:13] davidschober commented on #313
It is not priority with all the other priorities on the board (there’s a lot)

[2017-03-30 20:25] #376 closed

[2017-04-03 16:09] #374 closed

[2017-04-04 16:51] kdid opened #379 "Menu import job code adjustment"
Move the chown dropbox directories to the top of the import images job to see if it works around the permissions issue that is occurring on staging.

[2017-04-04 19:40] kdid commented on #377
Closing. We have a workaround for the prod/staging permissions difference. So not sure fixing the issue in the long term is a priority unless we become aware that it's causing other problems.

Thanks for looking into it.

[2017-04-04 19:40] #377 closed

[2017-04-04 21:48] jenyoung commented on #263
Images and metadata are there. Closing!

[2017-04-05 20:07] davidschober opened #380 "change image magic thread variable"
## Description

When many converts get kicked off on images (s and p) the CPU pegs at 100% and we see a drastic performance hump. After researching a bit I think we need to force it to run on each convert on a single thread.

- [x] set images-s MAGICK_THREAD_LIMIT environment variable = 1 (make note of what it was before, if it was set at all)
- [ ] verify that it improved performance under load
-

[2017-04-05 20:08] davidschober commented on #380
@d-venckus this is what we discussed the other day...

[2017-04-06 18:56] davidschober commented on #380
Notes from yesterdays very unsciency testing...

We didn't do formal benchmarks, but each covert is taking slower. That said, the system did not completely die during converts.

I did more digging into imagemagick and it seems as if IM really, really doesn't like jp2s (which I think we're running our converts against)

Benchmarks attached from local machine. I would like to validate on images-s

[

[2017-04-10 16:12] davidschober commented on #380
@d-venckus let's group up later and discuss whether we should move this to production.

[2017-04-11 21:03] #263 closed

[2017-04-11 21:04] davidschober commented on #329
closing as known issue.

[2017-04-11 21:04] #329 closed

[2017-04-13 00:10] davidschober opened #381 "Get VRA xml from public collections"
### Descriptive summary

The metadata group / DPLA wants to put public collections into primo. We don't have an OAI/PMH handler, so we've been asked to dump the VRA xml and give notes on how to construct a thumbnail (using the iiif endpoint).

### Done looks like

* a dump of xml is handed off to metadisco.
* another idea is to have a dead simple view listing pids linking to VRA records
* oai woul

[2017-04-13 00:11] davidschober commented on #381
@bmquinn @kdid @csyversen or @carrickr can you give me a rough estimate as to work involved. We discussed this during a meeting a while ago, but it never got fleshed out.

[2017-04-13 01:28] davidschober commented on #381
Note this was originally discussed in #351

[2017-04-13 14:49] kdid commented on #378
Done

[2017-04-13 14:49] #378 closed

[2017-04-13 20:36] ccaizzi commented on #381
Just to be clear:
Posters from Herskovits and WW2 Posters are for DPLA.
Karen Miller and Geoff Morse would like to add the public collections from Images to Primo, so if all of the others ones can go to them, that would be great.  If we have to limit it to a few, @Nic4Images would be the person to select which public collections (VRA XML records) should be extracted.  Karen would also like some he

[2017-04-13 20:59] MetadataKaren commented on #381
If I can add my 2 cents here, "a dead simple view listing pids linking to VRA records" is not sufficient to our needs. We have XSL files, we need XML files.

We will be very happy to have a file for every public image in the repository (although we do NOT need those for the Africana or Afri posters). There is no need to limit the number of files on our behalf.

Also, when we made this request for

[2017-04-13 21:39] davidschober commented on #381
@MetadataKaren my hope was a listing of links to the xml files would allow someone on your team to programmatically get the data in a more flexible. If that doesn't work, we will pursue the other route.

Can you list the public collections you need records for?

[2017-04-13 22:05] MetadataKaren commented on #381
@davidschober, in a nutshell, all of the public collections that are listed on the home page for the Images Repo, with the exception of the WWII and Africana posters. In detail:

 Hamid Naficy Iranian Movie Posters Collection
 Ramon Casas sketchbooks
 University Archives Postcards
 Alexander Hesler Photograph Collection
 Vernon McKay Photographs
 Wilmo Engine Company dealer’s sample catalog
 Rob L

[2017-04-13 22:58] ccaizzi commented on #381
@MetadataKaren we were talking more and think we need to meet and take a step back about why we want to add all the images to primo.  what about doing it at the "collection" level like we do for finding aids?  this would mean, we could figure out a way to create 22 handles that points to the collection facet in images...then there would only be 22 handles to update as opposed to having 10k+ broken

[2017-04-13 23:03] jenyoung commented on #381
@MetadataKaren and team, an end of the day discussion -- What if, for now, we create handles for the public collection URLs and those are used in Primo. They would go in as collections vs. item-level.

Benefits:
- Wouldn't have to worry about synchronizing new items or edited or deleted items. Current growing public collections -- Army Base Hospital, Jim Roberts, Rob Linrothe
- Allows for new publ

[2017-04-14 13:51] MetadataKaren commented on #381
I suppose we could do that; I’ll ask Geoff if that’s something he had in mind.

However, it is a lot of work for me, as I’ll have to create a PNX record for each collection. Using the individual images, on the other hand, makes use of existing metadata and is minimal work for me. Also, although the finding aid records do represent a collection, the entire finding aid text is stuffed into a search

[2017-04-14 14:37] MetadataKaren commented on #381
I just checked with Geoff Morse about these, since the original proposal to ingest public image records was his. His opinion is that the collection level records will be very useful for the user. He and I strongly prefer individual records.

He also said he's fairly certain that the addition 15k records will make no difference to Primo's cost.  They are, in his words, "a drop in the bucket" compar

[2017-04-14 16:53] ccaizzi commented on #381
Ok, sounds like you covered all our concerns and since you can easily delete these when we migrate, then let's go ahead and get what is needed.  @jenyoung won't have any time until May if you need crosswalk input and the developers need to fit this in with other priorities since we had planned on this back in Feb and the window was missed so is a month a decent deadline @csyversen @bmquinn @kdid?

[2017-04-15 02:18] bmquinn commented on #381
Hi @MetadataKaren, here's a [box folder](https://northwestern.box.com/s/d0uejrtlp2r5jlgob883gbr5bdwm8i8j) with a zip file of the ~15,000 public image VRA records. Stay tuned next week for information about a (mostly) automated way to grab these in the future that @kdid and I are working on.

[2017-04-17 12:49] MetadataKaren commented on #381
Brendan,

Thank you very much! That is terrific news.

I'm home with a nasty virus today, so I'll have a look at these when I get back. Geoff and I are excited to be moving forward with this.

Also, any guidance you can give us on how to use the filename or PID or something in the file to build a URL of a thumbnail for display in search results would be much appreciated.

Karen

Karen D. Miller
Mo

[2017-04-17 14:44] kdid commented on #379
this is complete

[2017-04-17 14:44] #379 closed

[2017-04-17 18:49] jenyoung commented on #381
Hi Karen, IIIF is what we use to generate the thumbnails for the collections.

You would just substitute the pid of the image and change the colon to a dash.

Example:

For pid: inu:dil-bd6ef6a0-06c6-41e2-8e9f-e0bc0827f750

URL format for thumbnail:
http://images.northwestern.edu/image-service/inu-dil-bd6ef6a0-06c6-41e2-8e9f-e0bc0827f750/square/,300/0/default.jpg

there are other ways to generate

[2017-04-17 19:08] MetadataKaren commented on #381
Thanks, Jen. That looks easy enough.

Karen

Sent from my iPhone

On Apr 17, 2017, at 1:49 PM, Jen Young <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Karen, IIIF is what we use to generate the thumbnails for the collections.

You would just substitute the pid of the image and change the colon to a dash.

Example:

For pid: inu:dil-bd6ef6a0-06c6-41e2-8e9f-e0bc0827f750

URL

[2017-04-18 14:44] kdid commented on #381
@MetadataKaren - We have performance issues with the image server on the Images application (until we move to NextGen). Would it be possible for you to use the same call that we already use for the thumbs, since these are likely already cached by the application? Not sure of your height/width requirements. If not, we may need to talk further.

This is the call (example for each horizontal and vert

[2017-04-18 15:44] MetadataKaren commented on #381
Yes, we can use those - that is no problem at al.

Sent from my iPhone

On Apr 18, 2017, at 9:44 AM, kdid <notifications@github.com<mailto:notifications@github.com>> wrote:

@MetadataKaren<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_MetadataKaren&d=DwMFaQ&c=yHlS04HhBraes5BQ9ueu5zKhE7rtNXt_d012z2PA6ws&r=P54V6LrXJP5Ddzc8ZItBdqB1Kr3elvFIQ04P7n0UCbQ&m=J_Ihl-BHr7Vws0cjGI11y6edo2GYgd

[2017-04-18 15:50] bmquinn opened #383 "Try to mitigate performance issues by making users choose to use the zooming viewer"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [ ] yes
- [x] no

### Descriptive summary

 Performance is bad enough on Images that I think using a standard sized image for the show views and making the openseadragon viewer accessible via a button click is the way to go.

[2017-04-19 19:56] ccaizzi commented on #383
I just have to say, this is going to make all of us much happier.  Thanks for being proactive.

[2017-04-19 20:17] kdid commented on #383
@ccaizzi, @Nic4Images and @jenyoung -

We have this up on staging if you'd like to take a look and let us know.

The landing page for each image contains one (600px high) image served by riiif. (This is as opposed to the viewer which makes about 10 calls just to load the initial view, and additional if you need to use the zoom or pan controls).  We put a button above the image in the button row to

[2017-04-19 20:50] davidschober commented on #383
Nice work. Thanks! I think a spinner is a good idea if only as a test for next gen.

Sent from my iPhone

[2017-04-19 21:51] ccaizzi commented on #383
I'll let @Nic4Images weigh in, but I think this is a good direction.  And when you mean load, you mean just the first time someone loads the page, after that it is in cache for a year now meaning the next person to visit the image page will not have to wait that long, correct?

is there a usability reason we chose 600px high? it looks in alignment with other digital libraries like ucsd, but just c

[2017-04-19 22:09] kdid commented on #383
@ccaizzi, yes correct about the load. After the page loads once, the first time it's visited, the image would be cached for a year and the next person will not wait.

600 px high was what was set for the dimension of the image in the viewer but we can adjust.

[2017-04-20 17:16] Nic4Images commented on #383
This sounds good to me. The curators I worked with this week are complaining about how awful Images is (unable to load images, search, etc.) so anything to make the performance better!

[2017-04-20 19:43] Nic4Images commented on #383
I checked staging the the image size looks good.

[2017-04-20 22:26] davidschober commented on #383
Zoom makes sense. Google just uses a magnifying glass.

Sent from my iPhone

[2017-04-21 00:48] bmquinn commented on #383
Does this work? (Deployed this to staging so you can check it out)

<img width="670" alt="viewer_button" src="https://cloud.githubusercontent.com/assets/1395707/25258048/286472cc-2602-11e7-8aee-eed813488d14.png">

[2017-04-21 13:39] Nic4Images commented on #383
BQ looks good to me!

[2017-04-21 20:04] kdid commented on #383
@ccaizzi, @Nic4Images, @davidschober - Before we go live with this we just wanted to throw another option out there for consideration - the option of removing the zooming viewer completely.

Right now we have simply hidden the problem from the initial view, but if a user clicks the button to zoom, we still will have load times of several minutes -  if at all - for uncached images. We fear if we le

[2017-04-21 20:09] Nic4Images commented on #383
I would want to speak with our power users before we removed it. Aka the curators. They may not care since all I hear are complaints about Images as of late. But I do not like removing functionality before checking in with the people using Images. This would take me until Monday since it is late on Friday.

[2017-04-21 20:11] Nic4Images commented on #383
If you want me to gather feedback let me know before 5PM today so I have time to find curators.

[2017-04-21 20:17] kdid commented on #383
@Nic4Images - we trust your judgement on whether to get feedback on this. Just let us know when you decide. We're not deploying the update until next week in either case as there is a few things we need to do alongside deployment that we are not quite ready with.

[2017-04-21 21:12] ccaizzi commented on #383
My two cents--some of our content is very detailed and the zoom is needed to analyze it (those african maps for example--even the smaller images like the postcards and it loads fine for me now). But if the zoom will not load in a timeframe most users are willing to wait and we decide to remove the feature all together, then I suggest we make a larger JPG than 1600 pixels (isn't 1980 the common siz

[2017-04-21 21:36] davidschober commented on #383
Are we seeing several minutes on al I cached images it just African maps? Let's talk when I get back.

Sent from my iPhone

[2017-04-24 13:29] kdid commented on #383
@ccaizzi - just to clarify, the button for the JPG ("Download Small Image (JPG)") calls an image 1600 px high, with width variable, so the image often is wider than 1600. For example (2300 x 1600): http://images.library.northwestern.edu/image-service/inu-dil-08699050-fa07-4207-ab06-a7e93ff5b928/full/,1600/0/default.jpg

@davidschober - no, not African maps. Still working on trying to cache those.

[2017-04-24 17:22] ccaizzi commented on #383
@kdid thx, that helps--i thought it was the width, not the height.  so keeping the same sounds fine to me.

i still vote for keeping the zoom image button--the static image helps a ton in terms of frustration.  some of our images do zoom nicely.

[2017-04-24 17:31] Nic4Images commented on #383
We need to keep the zoom button. I checked with a faculty member and curator. They both appreciate that option.

[2017-04-25 17:05] davidschober opened #384 "Test tif with very large images"
We have a couple of very-large image collections. We are going to test manually converting those tit tif and see how riiif responds.

TODO:

- [x] convert maps in images-s to tif
- [x] clear cache and see how riiif performs
- [x] if performance gain is not great, consider resizing to 10k x 10k

[2017-04-25 17:08] davidschober commented on #383
The only other option I would throw out is for the "open in image viewer" to go full screen (e.g. what happens when you hit the full-screen option on the zoomable viewer). If that's not straight forward, we can leave as is.

[2017-04-25 17:55] davidschober commented on #380
closing, reset back. It didn't really fix the major issues.

[2017-04-25 17:55] #380 closed

[2017-04-25 17:56] davidschober commented on #313
closing. While varnish may cover up the problem a bit. It's becoming increasingly obvious that we will need a full-fledged image server (loris, iipimage, cantaloupe) for images that are very large.

[2017-04-25 17:56] #313 closed

[2017-04-25 17:57] davidschober commented on #381
@MetadataKaren it looks like you got what you need. Is it OK if I close this?

[2017-04-25 18:45] MetadataKaren commented on #381
@davidschober, yes, this can be closed. I am curious, though, about the "a (mostly) automated way to grab these in the future " that @bmquinn and @kdid are working on.

[2017-04-25 18:47] kdid commented on #381
@MetadataKaren - coming soon. We've not yet pushed that to production. We will update you soon.

[2017-04-25 19:21] MetadataKaren commented on #381
@kdid - Excellent! I'm looking forward to it. Thank you for the update!

[2017-04-25 19:22] MetadataKaren commented on #381
Excellent! I'm looking forward to it. Thank you for the update!

[2017-04-25 19:22] MetadataKaren commented on #381
Oops, I did not mean to close this! Sorry about that.

[2017-04-25 20:42] carrickr commented on #384
So we initially tried on `images-s` and found that when working with uncached images and using my internet at home (10 mbps down, not the fast campus stuff):

* Loading a large .jp2 Map of Africa took ~6 to 8 minutes depending on the size
* Converting it to tiff lead to load times of under one minute for anything under 200 mb and 12k x 12k.  Sizes over 12k x 12k would push 500 mb and take up to 4

[2017-04-25 20:51] davidschober commented on #384
If we run into getting bashed by multiple users we might want to run in single-core mode. The jp2 convert was seriously processor intensive.

[2017-04-25 20:51] carrickr commented on #384
Personal thoughts:

* Make our own 'alterable' tiffs from the 'jp2s'.  It's less programmer time than having a programmer hunt through the `farchive13` directory and match up original tiffs to jp2s and copying them over.  We can just do a script along the lines of:
[code]

This would run 8 convert commands at the same time, since convert seems single threaded in our tests and just blow down the di

[2017-04-25 20:53] davidschober commented on #384
Is convert still running single threaded because we set it that way? It was eating up everything. Did David  V. need to restart?

[2017-04-25 20:56] kdid commented on #384
@carrickr is talking about converting jp2s to tifs, @davidschober you are talking about converting the jp2s by riiif for the viewer. The variable was only changed on staging and he did change it back and restart today.

[2017-04-25 20:56] carrickr commented on #384
@davidschober I'm referencing when I just manually run `convert` via the command line to go jp2 to tiff.  I don't know if dev-ops set it that way or not, but that's the behavior I'm seeing.  Single threaded and takes 2 to 3 minutes for a large file.

[2017-04-25 20:57] davidschober commented on #384
Right, but it’s calling the same convert right?

[2017-04-25 20:58] carrickr commented on #384
@davidschober Yes, but riif calls it numerous times, like a convert per tile or something, so it was probably set to single threaded due to the number of threads spawned

[2017-04-26 15:04] davidschober commented on #365
abandoning. The speed issue seems to be  imagemagick decoding jp2s. We are handling with #384

[2017-04-26 15:04] #365 closed

[2017-04-26 15:05] davidschober commented on #311
ambandoning.

[2017-04-26 15:05] #311 closed

[2017-04-26 15:30] carrickr opened #385 "Convert Maps of Africa jp2s to Tiffs"
[code]

With max height and/or width of 10k pixels

[2017-04-26 16:28] davidschober commented on #351
closing as it is covered by #381

[2017-04-26 16:28] #351 closed

[2017-04-26 16:30] davidschober opened #386 "Refactor out jp2 conversion"
Assuming #384 works out, take out the jp2 conversion and just resize to an appropriate tif size.

[2017-04-26 18:19] carrickr commented on #385
Script:
[code]

[2017-04-26 18:20] carrickr commented on #385
For whatever reason, Parallels has issues running imagemagick, so I had to single thread it.

Couldn't find:
[code]

[2017-04-26 18:25] carrickr opened #387 "Update Images to no longer make .jp2s"
jp2 function is located [here](https://github.com/nulib/images/blob/249e6894b2353ee27974109bd688a341da72bdfc/app/models/multiresimage.rb#L247)

Adjust the app so it just copies over the tiff over rather than calling this function

[2017-04-26 19:21] davidschober commented on #387
I think we should probably resize to 10k by 10k

[2017-04-26 21:11] davidschober commented on #386
dupe of #387 closing.

[2017-04-26 21:11] #386 closed

[2017-04-26 21:36] davidschober opened #388 "Increase size of images share"
### Severity

Is the production site running?
- [x] yes
- [ ] no

Are staff blocked from performing their work?
- [x] yes
- [ ] no

## Done looks like

To facilitate the conversion of jp2s to access-quality tifs, please add 15tb of storage to  /var/www/html/dimages/ (PRODUCTION)

This is overkill, but we will be running a conversion script on ~100k images and don't want the share to run out space

[2017-04-26 21:37] davidschober commented on #388
@carrickr @bmquinn and @kdid this is tracking space increase

[2017-04-27 15:06] davidschober commented on #388
From a slack discussion yesterday:

@d-venckus wanted to know if we can expand a different share:

The /dlun1/dimages share on Isilon is currently allocated with 3 TB.  If we increase it to 18 TB, I can't see how we'll return the storage back for use elsewhere.  We'll have this giant share that won't be used after the conversion.

[5:38]
Is there *any* possible way to use a different path for thes

[2017-04-27 15:07] davidschober commented on #388
@bmquinn @carrickr @kdid can you check the above... Could we also just expand another share, put the tifs there then symlink to the current location?

[2017-04-27 15:12] bmquinn commented on #388
Hi @davidschober and @d-venckus, I think there's maybe a misunderstanding of why we need the expansion of /dlun1/dimages. This expansion is not requested for a temporary conversion, but rather as permanent storage for newly converted TIFFs to be served by the Images application from now on (as opposed to JP2s, which are giving us performance problems with ImageMagick and are much smaller in file s

[2017-04-27 15:16] davidschober commented on #388
Sorry if my wording was off. Yes, this is a not a temporary fix.

[2017-04-27 15:16] Toputnal commented on #388
Ok.  So, @bmquinn there's an expectation that the dimages share, when grown from 3TB to 18TB will consistently be using much closer to 18TB than 3TB because it will be serving TIFFs as opposed to JP2s?

[2017-04-27 15:17] Toputnal commented on #388
@d-venckus @bmquinn @davidschober I'll put in a ticket with NUIT to increase the share from 3TB to 18TB and then post the ticket number here.

[2017-04-27 15:18] davidschober commented on #388
Thanks @Toputnal

[2017-04-27 15:49] Toputnal commented on #388
Opened NUIT Ticket # 527108

[2017-04-27 17:29] d-venckus commented on #388
Aaah, looks like my comment/question from last night didn't go through.  I asked whether it was possible to do the conversion work in a different share from dimages, so that we might return the storage back to other uses after the conversion is done.  Is it possible to work in a different share/dir?

[2017-04-27 17:50] d-venckus commented on #388
Sorry, I didn't see Brendan's post above.  OK, so not just a temporary conversion.  Now a question:  how much larger is a TIFF file than the equivalent JP2?  I'm trying to get a sense of how much space this share will truly need.  Where did the 18TB figure come from?

[2017-04-27 18:29] bmquinn commented on #388
No problem, we're basing the estimate on an assumption of ~90-100MB per TIFF (lots of variance between individual tiff sizes, but capped at 10,000px max in either dimension which would be ~500MB at the high end), and we have 150,000 to convert. So, that's ~14TB for what we have plus some room to grow because there are some large batches in the queue coming up.

[2017-04-27 18:47] d-venckus commented on #388
Thanks Brendan.  Yeah, 100MB * 150,000 = 15TB.  So 18TB makes perfect sense.

BTW, how are you going to handle maps, if you're capping the resolution like that.  Won't that limit detail somewhat?

[2017-04-27 18:53] d-venckus commented on #388
Don Hammer has increased the quota on /dlun1 (dimages) to 18TB, of which just under 17TB is currently available.  Y'all are good to go with image conversions this weekend.

[2017-04-27 18:53] bmquinn commented on #388
Cool! We did a test run of the largest Afri maps using TIFFs instead of JP2s yesterday and determined that the resolution was good enough for viewing the detail (reading small print, seeing paper texture, etc.)

[2017-04-27 19:14] #388 closed

[2017-04-27 19:15] bmquinn commented on #388
Just verified this as well. Thanks @Toputnal!

[2017-04-27 20:13] kdid commented on #387
@davidschober and @carrickr - we need to have a discussion about clearing the cache on production. I think we were all assuming existing cache could remain but @bmquinn and I did some testing on staging and images that were partially cached (i.e. someone viewed the page but didn't zoom or pan, or all tiles didn't load, etc) will display funky. See screenshot.

![screen shot 2017-04-27 at 3 07 36 p

[2017-04-27 20:17] davidschober commented on #387
K. Can we time a clear with an automatic rebuild for public (or popular public) ones? I wrote a script when this launched to march through the top 500 images. But I think you two said you just wrote something that went deeper?

[2017-04-27 20:18] davidschober commented on #384
closing this. We have moved forward with the plan.

[2017-04-27 20:18] #384 closed

[2017-04-27 20:22] kdid commented on #387
@davidschober - we just cleared the cache on staging if you want to peek at performance with no cache....

[2017-04-27 20:30] davidschober commented on #385
We got the space. Woohoo. When are we kicking off the big job?

[2017-04-27 20:34] bmquinn commented on #385
So here's some math:
159754 jp2s - 114,079 multiresimages = 45,675 extra jp2s

Do we want to convert 45,675 jp2s to tiffs unnecessarily? If not, there's some more work to be done before kicking off the big job.

[2017-04-27 20:36] davidschober commented on #385
What are the extras?

I’m ok with taking the quick path since it’s computer time (as opposed to human time) and we bought the space.

[2017-04-28 14:33] carrickr opened #389 "Remove extraneous images from the dimages dir"
Any jp2 that doesn't exist in solr as a multires image does not need to be converted to .tiff.  Find a location to move these rather than convert them.

[2017-04-28 14:38] jenyoung commented on #389
please don't forget the missing tiffs that need to be found
https://github.com/nulib/repodev_planning_and_docs/issues/18

@Nic4Images

[2017-04-28 15:47] carrickr commented on #389
@jenyoung For display purposes we'll just use the jp2 display copies to make our display tiffs.  This issue is dealing with improving performance.

[2017-05-01 14:58] carrickr commented on #385
Maps of Africa:
`[deploy@images-p dimages]$ nohup ruby convversion.rb africa.txt &
[1] 43522`

[2017-05-01 16:20] carrickr commented on #385
Looks like we are seeing errors with some coverts though:

[code]

[2017-05-01 16:22] bmquinn commented on #385
We saw those in our testing as well, I think we should just keep track of those images and deal with them separately because they might be due to corrupted JP2s or failure based on excessive load.

[2017-05-01 21:17] carrickr commented on #389
We've moved all .jp2s that don't have a solr record to `orphans`.

@davidschober We need a final call on what to do with the .jp2s

[2017-05-01 21:19] davidschober commented on #389
What's our confidence level that these were deleted from images (e.g. there's no associated metadata)?

[2017-05-01 21:22] bmquinn commented on #389
Most of the orphans are likely from either deleted image records, batch testing or batch retries in sidekiq ( which used to create many orphaned derivatives during retry cycles but is now fixed)

[2017-05-01 21:24] davidschober commented on #389
Thanks. I'll dig into this a bit with the stakeholders. let's get a final size count on data when we're done. It sounds like our orphans were due to the system.

[2017-05-01 21:31] Nic4Images commented on #389
If the metadata is not there for these then it sounds okay to get rid of them.

[2017-05-01 21:39] jenyoung commented on #389
i agree with Nicole. No metadata, no problem deleting

[2017-05-01 21:46] jenyoung commented on #299
i'm having @egilchrist start working on matching these this week.

[2017-05-01 21:56] davidschober commented on #389
k. Let's get a count when we're done.

[2017-05-01 22:29] carrickr commented on #389
Those without  a record are:

[oprhans.txt](https://github.com/nulib/images/files/968934/oprhans.txt)

Counnt: 38759

[2017-05-02 14:31] carrickr commented on #385
I've run two passes on the Africa collection to convert them and these are the ones with errors:

[code]

So 7 images:
[code]

Everything else is converted and ready for testing

[2017-05-02 14:57] carrickr opened #390 "Convert La Caricature (1880-1893, 1899; Albert Robida, founding editor) from jp2 to tiff"
Convert the La Caricacture files.

la_cariacture.txt on images-p has the pids
conversion.rb will conver them

[2017-05-02 14:57] carrickr commented on #390
Script running for its second pass currently

[2017-05-02 15:13] bmquinn commented on #385
Copied the tiff images for the 7 jp2s above (and renamed them to use the '.tiff' extension in the copy) and moved the jp2s to the jp2backup dir.

[2017-05-02 15:31] kdid commented on #381
We will go over at the meeting today.

https://github.com/nulib/repodev_planning_and_docs/wiki/Public-Collections-VRA-and-Thumbnail-Access

[2017-05-02 16:17] davidschober commented on #389
Cool. Let’s hold these for now.

[2017-05-02 18:33] carrickr commented on #390
First pass, done.  Running second pass to check on errors.
[la_errors1.txt](https://github.com/nulib/images/files/971625/la_errors1.txt)